Repository virtualcell/vcell, pull requests merged in 2022-11, with the labels that each got.

#540 CLI validate-batch to validate VCML files (compare math generation)
  vcell-cli/src/main/java/org/vcell/cli/CLIStandalone.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ValidateBatchCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlValidator.java
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
Labels: VCell-7.5.0

#541 Dan duplicate id bugs
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
Labels: bug, High Priority, VCell-7.5.0

#550 548 support oracle and postgres
  vcell-server/src/main/java/cbit/sql/CompareDatabaseSchema.java
  vcell-server/src/main/java/cbit/vcell/messaging/db/SimulationJobDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/BioModelDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/BioModelTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DatabasePolicySQL.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DatabaseServerImpl.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/GeomDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/GeometryTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ImageTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/MathDescTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/MathDescriptionDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/MathModelDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/MathModelTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ModelDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ModelTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ReactStepTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SQLCreateAllTables.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SimContextTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SimulationContextDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SimulationDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SimulationTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/UserDbDriver.java
Labels: VCell-7.5.0, VCell-7.6.0

#552 only transform units on setting math on Simulation
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/cbit/vcell/solver/MathOverrides.java
  vcell-core/src/main/java/cbit/vcell/solver/MathOverridesResolver.java
  vcell-core/src/main/java/cbit/vcell/solver/Simulation.java
  vcell-core/src/test/java/cbit/vcell/biomodel/ModelUnitConverterTest.java
Labels: VCell-7.5.0

#568 Dan creation degradation only params
  vcell-client/src/main/java/cbit/vcell/model/gui/ParameterTableModel.java
  vcell-core/src/main/java/cbit/vcell/model/ReactionStep.java
Labels: enhancement, VCell-7.5.0

#571 Dan transform to mass action can be horribly expensive #425
  vcell-client/src/main/java/cbit/vcell/client/desktop/DocumentWindow.java
  vcell-client/src/main/java/cbit/vcell/model/gui/TransformMassActionPanel.java
  vcell-client/src/main/java/cbit/vcell/model/gui/TransformMassActionTableModel.java
  vcell-client/src/main/java/org/vcell/util/gui/AsynchProgressPopup.java
  vcell-core/src/main/java/cbit/vcell/model/TransformMassActions.java
  vcell-core/src/test/java/cbit/vcell/model/MassActionSolverTest.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_52337206_nonspatial.vcml
Labels: bug, VCell-7.5.0

#573 accommodate single vcml or directory for validate
  docker_run.sh
  vcell-cli/src/main/java/org/vcell/cli/vcml/ValidateBatchCommand.java
Labels: VCell-7.5.0

#546 544 tolerant spatial math compare
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlValidator.java
  vcell-core/src/main/java/cbit/vcell/math/CompartmentSubDomain.java
  vcell-core/src/main/java/cbit/vcell/math/FilamentSubDomain.java
  vcell-core/src/main/java/cbit/vcell/math/MathCompareResults.java
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/main/java/cbit/vcell/math/MembraneSubDomain.java
  vcell-core/src/main/java/cbit/vcell/math/PointSubDomain.java
  vcell-core/src/main/java/cbit/vcell/math/SubDomain.java
  vcell-core/src/main/java/cbit/vcell/math/Variable.java
Labels: VCell-7.5.0

#576 write/read to/from VCML membrane boundary conditions; fixes #570
  vcell-core/src/main/java/cbit/vcell/xml/XmlReader.java
  vcell-core/src/main/java/cbit/vcell/xml/Xmlproducer.java
Labels: VCell-7.5.0

#578 toggle changes to KMOLE and variable names while validating math
  vcell-cli/src/main/java/org/vcell/cli/vcml/ValidateBatchCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlValidator.java
Labels: VCell-7.5.0

#580 add Bionetgen to biosimulators_vcell for rule-based model validation
  Dockerfile
Labels: VCell-7.5.0

#584 583 more postgres syntax
  vcell-server/src/main/java/cbit/vcell/modeldb/AdminDBTopLevel.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DBTopLevel.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SQLCreateAllTables.java
  vcell-server/src/main/java/org/vcell/db/postgres/PostgresKeyFactory.java
  vcell-server/src/main/java/org/vcell/pub/VCellPubUtils.java
Labels: VCell-7.5.0

#589 588 UI fixes mathtestingframework
  vcell-client/src/main/java/cbit/vcell/client/data/PDEDataViewer.java
  vcell-client/src/main/java/cbit/vcell/simdata/gui/PDEDataContextPanel.java
  vcell-client/src/main/java/cbit/vcell/solver/ode/gui/ODESolverPlotSpecificationPanel.java
  vcell-client/src/main/java/cbit/vcell/solver/ode/gui/OutputSpeciesResultsPanel.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/MathVerifier.java
Labels: VCell-7.5.0

#590 For rules select group by molecules button, for the rest select the ungrouped button
  vcell-client/src/main/java/cbit/vcell/graph/gui/ReactionCartoonEditorPanel.java
Labels: bug, VCell-7.5.0

#592 keep SBML global and reaction namespaces separate in SBMLImporter
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
Labels: VCell-7.5.0

#594 bad struct mapping exp binding: fixed bad generated math sizes exps
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/cbit/vcell/mapping/StructureMapping.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/StructureSizeSolver.java
  vcell-core/src/test/java/org/vcell/sbml/StructureSizeSolverTest.java
Labels: VCell-7.5.0

#596 595 revive load and mathgen tests
  vcell-admin/src/main/java/org/vcell/admin/cli/AdminCLI.java
  vcell-admin/src/main/java/org/vcell/admin/cli/CLIDatabaseService.java
  vcell-admin/src/main/java/org/vcell/admin/cli/db/DatabaseCompareSchemaCommand.java
  vcell-admin/src/main/java/org/vcell/admin/cli/db/DatabaseDestroyAndRecreateCommand.java
  vcell-admin/src/main/java/org/vcell/admin/cli/mathverifier/ModeldbLoadTestCommand.java
  vcell-admin/src/main/java/org/vcell/admin/cli/mathverifier/ModeldbMathGenTestCommand.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
  vcell-server/src/main/java/cbit/sql/CompareDatabaseSchema.java
  vcell-server/src/main/java/cbit/vcell/modeldb/AnalysisTaskXMLTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/LoadModelsStatTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/MathVerifier.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ResultSetMetaDataTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SQLCreateAllTables.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SimContextStat2Table.java
  vcell-server/src/main/java/cbit/vcell/modeldb/TFTestCaseTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/TFTestCriteriaTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/TFTestResultTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/TFTestSuiteTable.java
Labels: VCell-7.5.0

#597 fix other place where structure parameters are not bound to simContext
  vcell-core/src/main/java/cbit/vcell/mapping/StructureMapping.java
Labels: VCell-7.5.0

#600 upon local/global math symbol conflicts, locals get "local_" prefix
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractStochMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/DiffEquMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/ParticleMathMapping.java
Labels: VCell-7.5.0

#607 554 convert reaction orphans overrides
  vcell-client/src/main/java/org/vcell/util/gui/exporter/OmexExtensionFilter.java
  vcell-core/src/main/java/cbit/util/xml/XmlUtil.java
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModel.java
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractMathMapping.java
  vcell-core/src/main/java/cbit/vcell/model/Structure.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
  vcell-core/src/test/java/cbit/vcell/biomodel/MathOverrideRoundTipTest.java
  vcell-core/src/test/resources/cbit/vcell/biomodel/Biomodel_issue_554.vcml
  vcell-core/src/test/resources/cbit/vcell/biomodel/Biomodel_issue_554_r0.vcml
  vcell-core/src/test/resources/cbit/vcell/biomodel/Biomodel_issue_554_r0_r1.vcml
  vcell-core/src/test/resources/cbit/vcell/biomodel/Biomodel_issue_554_r1.vcml
  vcell-core/src/test/resources/cbit/vcell/biomodel/Biomodel_issue_554_r2.vcml
  vcell-core/src/test/resources/cbit/vcell/biomodel/Biomodel_issue_554_r2_r3.vcml
  vcell-core/src/test/resources/cbit/vcell/biomodel/Biomodel_issue_554_r3.vcml
Labels: VCell-7.5.0
