Repository virtualcell/vcell, pull requests merged in 2022-12, with the labels that each got.

#610 VCell_Rel 7.4 patch - fix NPE when calling SBMLDocument.printErrors() when no errors.
  vcell-core/src/main/java/org/vcell/sbml/vcell/MathModel_SBMLExporter.java
Labels: bug

#618 SEDMLExporterTest writes/reads omex and verifies 1 BioModel returned.
  vcell-client/src/main/java/org/vcell/util/gui/exporter/OmexExtensionFilter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/test/java/cbit/vcell/biomodel/MathOverrideRoundTipTest.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
Labels: VCell-7.5.0

#617 598 dan roundtrip fail
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLSymbolMapping.java
Labels: bug, VCell-7.5.0

#619 615 lumped to distrib
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModel.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLSymbolMapping.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
Labels: bug, VCell-7.5.0, validation

#626 acknowledging that two sedml tests pass - fixed CI failure.
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
Labels: VCell-7.5.0

#624 added vcell.ssl.ignoreHostMismatch,vcell.ssl.ignoreCertProblems [=false]
  vcell-apiclient/src/main/java/org/vcell/api/client/VCellApiClient.java
  vcell-apiclient/src/main/java/org/vcell/api/client/examples/VCSchedulerPanel.java
  vcell-apiclient/src/main/java/org/vcell/api/client/examples/VCellApiClientTest.java
  vcell-core/src/main/java/cbit/vcell/message/server/bootstrap/client/RemoteProxyVCellConnectionFactory.java
  vcell-core/src/main/java/cbit/vcell/resource/PropertyLoader.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiOptimizationSolver.java
  vcell-core/src/main/java/org/vcell/service/registration/remote/RemoteRegistrationService.java
Labels: VCell-7.5.0

#641 set SBML Unit sid always
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLUnitTranslator.java
  vcell-core/src/test/java/org/vcell/sbml/SBMLUnitTranslatorTest.java
Labels: VCell-7.5.0

#622 roundtrip reserved parameters
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
Labels: bug, VCell-7.5.0, validation

#650 Do not export to SedML empty lists for FunctionalRange.
  vcell-core/src/main/java/org/jlibsedml/SEDMLWriter.java
Labels: bug, SED-ML, VCell-7.5.0, validation

#655 653 multiple spatial validation errors
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
Labels: VCell-7.5.0

#662 Dan sedml notes
  vcell-core/src/main/java/org/jlibsedml/SEDMLWriter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
Labels: enhancement, SED-ML, VCell-7.5.0

#661 execute parameter estimation pytest in CI
  .github/workflows/ci_cd.yml
  pythonProject/vcell-opt/tests/vcellopt_test.py
Labels: VCell-7.5.0

#669 Sbml importing of a param with the same name as a reserved symbol.
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
Labels: bug, VCell-7.5.0

#665 664 authz authn jwt
  debug_log4j2.xml
  docker/swarm/docker-compose-dev-msg.yml
  vcell-api/localMac.jks
  vcell-api/src/main/java/org/vcell/rest/UserVerifier.java
  vcell-api/src/main/java/org/vcell/rest/VCellApiApplication.java
  vcell-api/src/main/java/org/vcell/rest/VCellApiMain.java
  vcell-api/src/main/java/org/vcell/rest/auth/TokenBasedVerifier.java
  vcell-api/src/main/java/org/vcell/rest/rpc/RpcDbServerProxy.java
  vcell-api/src/main/java/org/vcell/rest/server/PublicationServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/RestDatabaseService.java
  vcell-apiclient/pom.xml
  vcell-apiclient/src/main/java/org/vcell/api/client/VCellApiClient.java
  vcell-client/src/main/java/cbit/vcell/client/ClientRequestManager.java
  vcell-client/src/main/java/cbit/vcell/client/RequestManager.java
  vcell-client/src/main/java/cbit/vcell/client/RequestManagerAdapter.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/simulation/SimulationWorkspace.java
  vcell-client/src/main/java/cbit/vcell/solver/ode/gui/SolverTaskDescriptionAdvancedPanel.java
  vcell-client/src/main/java/org/vcell/optimization/gui/ParameterEstimationRunTaskPanel.java
  vcell-core/pom.xml
  vcell-core/src/main/java/cbit/vcell/message/server/bootstrap/client/LocalUserMetaDbServerMessaging.java
  vcell-core/src/main/java/cbit/vcell/message/server/bootstrap/client/RpcDbServerProxy.java
  vcell-core/src/main/java/cbit/vcell/resource/PropertyLoader.java
  vcell-core/src/main/java/cbit/vcell/server/UserMetaDbServer.java
  vcell-core/src/main/java/cbit/vcell/solvers/ExecutableCommand.java
  vcell-core/src/main/java/org/vcell/util/document/User.java
  vcell-core/src/main/java/org/vcell/util/document/UserLoginInfo.java
  vcell-server/src/main/java/cbit/sql/Field.java
  vcell-server/src/main/java/cbit/sql/Table.java
  vcell-server/src/main/java/cbit/vcell/message/server/batch/sim/HtcSimulationWorker.java
  vcell-server/src/main/java/cbit/vcell/message/server/dispatcher/SimulationDatabase.java
  vcell-server/src/main/java/cbit/vcell/message/server/dispatcher/SimulationDatabaseDirect.java
  vcell-server/src/main/java/cbit/vcell/message/server/dispatcher/SimulationDispatcher.java
  vcell-server/src/main/java/cbit/vcell/message/server/dispatcher/SimulationDispatcherEngine.java
  vcell-server/src/main/java/cbit/vcell/message/server/dispatcher/SimulationStateMachine.java
  vcell-server/src/main/java/cbit/vcell/message/server/htc/slurm/SlurmProxy.java
  vcell-server/src/main/java/cbit/vcell/modeldb/AdminDBTopLevel.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ApiAccessTokenTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ApiClientTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DBBackupAndClean.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DBTopLevel.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DatabaseServerImpl.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/LocalUserMetaDbServer.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SQLCreateAllTables.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SimDelFromDiskTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/UserDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/UserTable.java
  vcell-server/src/main/java/org/vcell/auth/JWTUtils.java
  vcell-server/src/test/java/org/vcell/auth/JWTUtilsTest.java
Labels: VCell-7.5.0

#667 666 update remote param estimation
  docker/build/batch/entrypoint.sh
  pythonProject/Dockerfile
  pythonProject/docker_run.sh
  pythonProject/vcell-opt/README.md
  pythonProject/vcell-opt/tests/vcellopt_test.py
  pythonProject/vcell-opt/vcell_opt/optService.py
  vcell-admin/src/main/java/org/vcell/admin/cli/mathverifier/ModeldbMathGenTestCommand.java
  vcell-api/src/main/java/org/vcell/rest/VCellApiMain.java
  vcell-api/src/main/java/org/vcell/rest/server/OptimizationRunServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/OptimizationServerResource.java
  vcell-client/src/main/java/cbit/vcell/client/test/VCellClientTest.java
  vcell-client/src/main/java/org/vcell/optimization/gui/ParameterEstimationRunTaskPanel.java
  vcell-core/src/main/java/cbit/vcell/modelopt/OptimizationService.java
  vcell-core/src/main/java/cbit/vcell/opt/OptimizationException.java
  vcell-core/src/main/java/cbit/vcell/resource/PropertyLoader.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiOptimizationSolver.java
  vcell-core/src/main/java/org/vcell/optimization/OptMessage.java
  vcell-core/src/test/java/org/vcell/optimization/CopasiOptimizationSolverTest.java
  vcell-server/src/main/java/cbit/vcell/message/server/batch/opt/OptimizationBatchServer.java
  vcell-server/src/main/java/cbit/vcell/message/server/batch/sim/HtcSimulationWorker.java
  vcell-server/src/main/java/cbit/vcell/message/server/htc/HtcProxy.java
  vcell-server/src/main/java/cbit/vcell/message/server/htc/slurm/SlurmProxy.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ApiClientTable.java
Labels: VCell-7.5.0

#674 add new optimization config to deployments
  .github/workflows/CI-full.yml
  docker/build/Dockerfile-submit-dev
  docker/build/build.sh
  docker/kubernetes/submit.yaml
  docker/swarm/deploy-action.sh
  docker/swarm/deploy.sh
  docker/swarm/docker-compose-dev.yml
  docker/swarm/docker-compose.yml
  docker/swarm/localconfig_mockslurm.sh
  docker/swarm/localconfig_realslurm.sh
  docker/swarm/serverconfig-uch.sh
  vcell-core/src/main/java/cbit/vcell/resource/PropertyLoader.java
  vcell-server/src/main/java/cbit/vcell/message/server/batch/sim/HtcSimulationWorker.java
  vcell-server/src/main/java/cbit/vcell/message/server/htc/slurm/SlurmProxy.java
Labels: VCell-7.5.0

#676 minor CI fixes for optimization build/deploy
  .github/workflows/ci_cd.yml
  docker/build/build.sh
Labels: VCell-7.5.0

#680 final deploy step needs to work with both singularity images.
  .github/workflows/site_deploy.yml
  docker/swarm/deploy-action.sh
Labels: VCell-7.5.0

#683 calculate vcell-submit service name in cluster env for optimization comm
  docker/build/Dockerfile-api-dev
  vcell-api/src/main/java/org/vcell/rest/VCellApiMain.java
  vcell-api/src/main/java/org/vcell/rest/server/OptimizationRunServerResource.java
Labels: VCell-7.5.0

#678 reusable KMOLE transform, math equiv unit test for published models.
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlValidator.java
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModelTransforms.java
  vcell-core/src/test/java/cbit/vcell/mapping/MathGenCompareTest.java
Labels: VCell-7.5.0

#692 691 vcml download cli command
  vcell-admin/src/main/java/org/vcell/admin/cli/CLIDatabaseService.java
  vcell-cli/src/main/java/org/vcell/cli/CLIStandalone.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/DatabaseCommand.java
Labels: VCell-7.5.0

#696 Refactoring choosing between export to sedml as vcml vs sbml.
  vcell-client/src/main/java/cbit/vcell/client/task/ChooseFile.java
  vcell-client/src/main/java/org/vcell/util/gui/exporter/OmexExtensionFilter.java
  vcell-client/src/main/java/org/vcell/util/gui/exporter/SedmlExtensionFilter.java
Labels: enhancement, VCell-7.5.0

#694 693 fix swarm config
  debug_log4j2.xml
  docker/build/Dockerfile-api-dev
  docker/build/Dockerfile-submit-dev
  docker/build/build.sh
  docker/build/mongo/Dockerfile
  docker/build/mongo/scripts/dummy-insert.js
  docker/build/mongo/scripts/logging-create.js
  docker/build/vcell-api.log4j.xml
  docker/build/vcell-batch.log4j.xml
  docker/build/vcell-data.log4j.xml
  docker/build/vcell-db.log4j.xml
  docker/build/vcell-opt.log4j.xml
  docker/build/vcell-sched.log4j.xml
  docker/build/vcell-submit.log4j.xml
  docker/swarm/README_stack_on_mac.md
  docker/swarm/dev_singularity_build.sh
  docker/swarm/docker-compose-dev.yml
  docker/swarm/docker-compose.yml
  docker/swarm/localconfig_mockslurm.sh
  docker/swarm/localconfig_realslurm.sh
  docker/swarm/serverconfig-uch.sh
  pythonProject/vcell-opt/README.md
  vcell-api/localMac_pswd.txt
  vcell-api/src/main/java/org/vcell/rest/VCellApiMain.java
  vcell-api/src/main/java/org/vcell/rest/health/HealthService.java
  vcell-api/src/main/java/org/vcell/rest/server/OptimizationRunServerResource.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-core/src/main/java/cbit/vcell/message/server/bootstrap/client/RpcDbServerProxy.java
  vcell-core/src/main/java/cbit/vcell/mongodb/VCMongoDbDriver.java
  vcell-core/src/main/java/cbit/vcell/mongodb/VCMongoMessage.java
  vcell-core/src/main/java/cbit/vcell/resource/ErrorUtils.java
  vcell-core/src/main/java/cbit/vcell/resource/PropertyLoader.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiOptimizationSolver.java
  vcell-server/src/main/java/cbit/vcell/message/server/batch/opt/OptimizationBatchServer.java
  vcell-server/src/main/java/cbit/vcell/message/server/data/SimDataServer.java
  vcell-server/src/main/java/cbit/vcell/message/server/htc/slurm/SlurmProxy.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SpeciesContextModelTable.java
Labels: VCell-7.5.0

#699 698 fix deployment failure
  .github/workflows/site_deploy.yml
  docker/swarm/deploy-action.sh
  docker/swarm/deploy.sh
  docker/swarm/generate_installers.sh
  docker/swarm/link-installers.sh
  docker/swarm/localconfig_mockslurm.sh
  docker/swarm/localconfig_realslurm.sh
  docker/swarm/sendMessage.sh
  docker/swarm/serverconfig-uch.sh
  docker/swarm/vcellNagios.sh
Labels: VCell-7.5.0

#670 Ion math verify
  vcell-core/src/main/java/cbit/vcell/mapping/ParticleMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/StochMathMapping.java
  vcell-core/src/main/java/cbit/vcell/math/Action.java
  vcell-core/src/main/java/cbit/vcell/math/Equation.java
  vcell-core/src/main/java/cbit/vcell/math/MacroscopicRateConstant.java
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/main/java/cbit/vcell/math/ParticleJumpProcess.java
  vcell-core/src/main/java/cbit/vcell/math/ParticleProperties.java
  vcell-core/src/main/java/cbit/vcell/math/SubDomain.java
  vcell-core/src/test/java/cbit/vcell/mapping/MathGenCompareTest.java
  vcell-util/src/main/java/org/vcell/util/Compare.java
Labels: VCell-7.5.0, validation

#707 701 kmol transform incomplete
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModelTransforms.java
  vcell-core/src/test/java/cbit/vcell/mapping/MathGenCompareTest.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
Labels: VCell-7.5.0

#704 703 fix endpoint permissions
  docker/swarm/deploy.sh
  docker/swarm/docker-compose.yml
  docker/swarm/link-installers.sh
  vcell-api/src/main/java/org/vcell/rest/UserVerifier.java
  vcell-api/src/main/java/org/vcell/rest/VCellApiApplication.java
Labels: VCell-7.5.0

#710 709 api endpoint compat
  pythonProject/vcell-opt/README.md
  vcell-server/src/main/java/cbit/vcell/modeldb/BioModelDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/BioModelTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/PublicationTable.java
Labels: VCell-7.5.0

#714 684 diff num fast invariants
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/test/java/cbit/vcell/mapping/MathGenCompareTest.java
  vcell-math/src/main/java/cbit/vcell/matrix/RationalExpMatrix.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
  vcell-math/src/test/java/cbit/vcell/matrix/RationalExpMatrixTest.java
Labels: VCell-7.5.0

#713 Dan stochastic overrides
  vcell-client/src/main/java/cbit/plot/gui/Plot2DDataPanel.java
  vcell-client/src/main/java/cbit/vcell/client/data/ODETimePlotMultipleScansPanel.java
  vcell-client/src/main/java/cbit/vcell/client/data/SimResultsViewer.java
  vcell-core/src/main/java/cbit/plot/Plot2D.java
Labels: enhancement, High Priority, VCell-7.5.0

#716 706 enable vcml export omex
  vcell-core/src/main/java/cbit/vcell/xml/VCMLSupport.java
  vcell-core/src/main/java/cbit/vcell/xml/XmlHelper.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
Labels: enhancement, SED-ML, VCell-7.5.0, validation

#717 StructureNameScope -> ModelNameScope naming problem from issue 631
  vcell-core/src/main/java/cbit/vcell/model/Structure.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExportSymbolMapping.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92354366.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92383390.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92830796.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92839940.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92845118.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92847452.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92908902.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92932169.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92942045.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92944917.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92946371.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92951324.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92952350.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92955722.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92967115.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92968671.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_92981603.vcml
Labels: VCell-7.5.0

#722 correct singularity image scp command and add error handling
  docker/swarm/deploy-action.sh
Labels: VCell-7.5.0

#723 720 vcml sedml export testing
  vcell-core/src/main/java/org/jlibsedml/execution/ModelResolver.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
Labels: VCell-7.5.0
