Repository virtualcell/vcell, pull requests merged in 2022-10, with the labels that each got.

#446 Dan repeated tasks7
  vcell-core/src/main/java/cbit/vcell/biomodel/ModelUnitConverter.java
  vcell-core/src/main/java/cbit/vcell/xml/XMLTags.java
  vcell-core/src/main/java/cbit/vcell/xml/XmlReader.java
  vcell-core/src/main/java/cbit/vcell/xml/Xmlproducer.java
Labels: bug, High Priority, VCell-7.5.0

#455 test and correct remaining JMathML problems
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionMathMLPrinter.java
  vcell-math/src/main/java/org/jmathml/ASTFunction.java
  vcell-math/src/main/java/org/jmathml/ASTNumber.java
  vcell-math/src/main/java/org/jmathml/ASTToXMLElementVisitor.java
  vcell-math/src/main/java/org/jmathml/ENotationNumber.java
  vcell-math/src/main/java/org/jmathml/MathMLReader.java
  vcell-math/src/test/java/cbit/vcell/parser/MathMLTester.java
Labels: VCell-7.5.0

#456 452 vcell admin cli refresh
  docker/swarm/cli.py
  docker/swarm/vcell-admin/README.md
  docker/swarm/vcell-admin/__init__.py
  docker/swarm/vcell-admin/poetry.lock
  docker/swarm/vcell-admin/pyproject.toml
  docker/swarm/vcell-admin/tests/__init__.py
  docker/swarm/vcell-admin/tests/test_vcell_admin.py
  docker/swarm/vcell-admin/vcell_admin/__init__.py
  docker/swarm/vcell-admin/vcell_admin/cli.py
Labels: VCell-7.5.0

#458 439 sedml hdf5 nonspatial scans
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteImpl.java
  vcell-cli/src/main/java/org/vcell/cli/run/RunUtils.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5DatasetMetadata.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5DatasetWrapper.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5FileWrapper.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5JobData.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5Writer.java
  vcell-cli/src/test/java/org/vcell/cli/run/hdf5/Hdf5WriterTest.java
Labels: VCell-7.5.0

#461 460 fix nonspatial omex
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteImpl.java
  vcell-cli/src/main/java/org/vcell/cli/run/RunUtils.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5Writer.java
Labels: VCell-7.5.0

#462 Spatial hdf5
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteImpl.java
  vcell-cli/src/main/java/org/vcell/cli/run/RunUtils.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-core/src/main/java/cbit/vcell/solver/AnnotatedFunction.java
  vcell-core/src/main/java/cbit/vcell/solver/OutputFunctionContext.java
  vcell-core/src/main/java/cbit/vcell/xml/XMLTags.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
Labels: VCell-7.5.0

#466 Support sampleField numSamples components per geometry dimension
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
Labels: VCell-7.5.0

#472 Dan assignment and event var
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
Labels: VCell-7.5.0

#473 Integrated OMEX HDF5 for spatial and nonspatial
  vcell-cli-utils/vcell_cli_utils/cli.py
  vcell-cli-utils/vcell_cli_utils/wrapper.py
  vcell-cli/pom.xml
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteImpl.java
  vcell-cli/src/main/java/org/vcell/cli/run/PythonCalls.java
  vcell-cli/src/main/java/org/vcell/cli/run/RunUtils.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5DataSource.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5DataSourceNonspatial.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5DataSourceSpatial.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5DataSourceSpatialVarDataItem.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5DatasetWrapper.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5JobData.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5Writer.java
  vcell-cli/src/test/java/org/vcell/cli/run/hdf5/Hdf5WriterTest.java
  vcell-core/src/main/java/cbit/vcell/simdata/Hdf5Utils.java
  vcell-core/src/main/java/cbit/vcell/solver/MathOverrides.java
  vcell-util/src/main/java/org/vcell/util/CommentStringTokenizer.java
Labels: VCell-7.5.0

#476 459 simple unit test for omex-execute
  .github/workflows/ci_cd.yml
  docker/swarm/vcell-admin/pyproject.toml
  vcell-cli/src/test/java/org/vcell/cli/run/ExecuteImplTest.java
  vcell-cli/src/test/resources/BioModel1.omex
  vcell-math/src/main/java/cbit/vcell/parser/ASTFuncNode.java
Labels: VCell-7.5.0

#478 temporarily encode MeshSize as KISAO_0000326 in SEDML export/import
  vcell-core/src/main/java/cbit/vcell/solver/SolverDescription.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
  vcell-util/src/main/java/org/vcell/util/ISize.java
Labels: VCell-7.5.0

#480 add --small-mesh override to CLI execute command (limits to 11x11x11).
  vcell-cli/src/main/java/org/vcell/cli/biosimulation/BiosimulationsCommand.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteCommand.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteImpl.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-cli/src/test/java/org/vcell/cli/run/ExecuteImplTest.java
Labels: VCell-7.5.0

#484 export units to SBML as UNIT_<symbol> (e.g. Unit_s for seconds)
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
Labels: VCell-7.5.0

#488 We don't export some parameters to SBML if the species is clamped.
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
Labels: bug, VCell-7.5.0

#491 Keep SV ratios and VolFracts in math generation for legacy models
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/DiffEquMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/GeometryContext.java
  vcell-core/src/main/java/cbit/vcell/mapping/LegacySimContextTransformer.java
  vcell-core/src/main/java/cbit/vcell/mapping/StructureMapping.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/StructureSizeSolver.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
  vcell-core/src/test/java/org/vcell/sbml/StructureSizeSolverTest.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
  vcell-core/src/test/resources/org/vcell/sbml/vcml_published/biomodel_89712092_simple.vcml
  vcell-math/src/main/java/cbit/vcell/parser/Expression.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
Labels: VCell-7.5.0

#492 Restored SEDMLExporterTest test cases (most were disabled for debugging)
  vcell-core/src/main/java/org/vcell/sbml/vcell/StructureSizeSolver.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
  vcell-core/src/test/java/org/vcell/sbml/StructureSizeSolverTest.java
Labels: VCell-7.5.0

#501 494 surf to vol override spatial
  vcell-core/src/main/java/cbit/vcell/mapping/DiffEquMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/GeometryContext.java
  vcell-core/src/main/java/cbit/vcell/mapping/LegacySimContextTransformer.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/cbit/vcell/xml/XmlReader.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/StructureSizeSolver.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
  vcell-core/src/test/java/org/vcell/sbml/StructureSizeSolverTest.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
  vcell-core/src/test/resources/org/vcell/sbml/vcml_published/biomodel_12522025_spatial.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_published/biomodel_89712092_nonspatial.vcml
  vcell-server/src/main/java/cbit/vcell/modeldb/SimulationContextDbDriver.java
Labels: VCell-7.5.0

#502 Cannot create output Function on a membrane which is a function of
  vcell-core/src/main/java/cbit/vcell/solver/SimulationSymbolTable.java
Labels: bug

#510 remove passing SEDML exports from knownFaults list - fixes CI failures.
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
Labels: VCell-7.5.0

#511 initial pass at /contactus endpoint in vcell-api with Dan
  vcell-api/src/main/java/org/vcell/rest/VCellApiApplication.java
  vcell-api/src/main/java/org/vcell/rest/VCellApiMain.java
  vcell-api/src/main/java/org/vcell/rest/users/ContactUsRestlet.java
  vcell-client/src/main/java/cbit/vcell/client/test/VCellClientTest.java
  vcell-core/src/main/java/cbit/vcell/resource/ErrorUtils.java
  vcell-core/src/test/java/cbit/vcell/resource/ErrorUtilsTest.java
Labels: VCell-7.5.0

#529 consistent name mangling to generate SBML unit ids.
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLUnitTranslator.java
Labels: VCell-7.5.0

#530 524 cell kinematics unsupported
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/__export_adv_test.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_165181964.vcml
Labels: VCell-7.5.0

#531 expr equiv() supports user-def functions (e.g. vcRegionVolume(LITERAL))
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_111113048_smaller.vcml
  vcell-math/src/main/java/cbit/vcell/parser/ASTFuncNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionTest.java
Labels: VCell-7.5.0

#532 ignore 3D equation terms in 2D math compare
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/main/java/cbit/vcell/math/PdeEquation.java
Labels: VCell-7.5.0
