Repository virtualcell/vcell, pull requests merged in 2022-08, with the labels that each got.

#263 added backup library loader to OmexHandler and NativeLib
  vcell-cli/src/main/java/org/vcell/cli/run/OmexHandler.java
  vcell-core/src/main/java/cbit/vcell/resource/NativeLib.java
Labels: bug

#257 Overrides to sedml
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlOmexConverter.java
  vcell-client/src/main/java/org/vcell/util/gui/exporter/OmexExtensionFilter.java
  vcell-core/src/main/java/cbit/vcell/math/Variable.java
  vcell-core/src/main/java/org/jlibsedml/SEDMLWriter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-math/src/main/java/cbit/vcell/parser/AbstractNameScope.java
  vcell-math/src/main/java/cbit/vcell/parser/SymbolTableEntry.java
Labels: bug, SED-ML, High Priority

#272 Added custom Exception VCLoggerException and refactored accordingly
  vcell-admin/src/test/java/org/vcell/sbml/SbmlVcmlConverter.java
  vcell-admin/src/test/java/org/vcell/sbml/test/VCellSBMLSolver.java
  vcell-admin/src/test/java/org/vcell/sbml/test/VCellSedMLSolver.java
  vcell-cli/src/main/java/org/vcell/cli/CLIUtils.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-cli/src/main/java/org/vcell/cli/sbml/MemoryLogger.java
  vcell-client/src/main/java/cbit/vcell/client/BNGWindowManager.java
  vcell-client/src/main/java/cbit/vcell/client/TranslationLogger.java
  vcell-core/src/main/java/cbit/util/xml/VCLogger.java
  vcell-core/src/main/java/cbit/util/xml/VCLoggerException.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLStandaloneImporter.java
  vcell-core/src/test/java/org/vcell/sbml/TLogger.java
  vcell-core/src/test/java/org/vcell/sedml/StandaloneSEDMLTest.java
  vcell-sbmlsim/src/main/java/org/vcell/sbmlsim/service/SimulationServiceImpl.java
Labels: enhancement, tech debt

#297 Cli nested sed ml fix
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteImpl.java
  vcell-cli/src/main/java/org/vcell/cli/run/RunUtils.java
  vcell-core/src/main/java/org/jlibsedml/execution/ArchiveModelResolver.java
  vcell-core/src/main/java/org/jlibsedml/execution/ModelResolver.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
Labels: bug, SED-ML, BioSimulators, VCell-7.5.0
