Repository virtualcell/vcell, pull requests merged in 2022-09, with the labels that each got.

#312 Created New Classes for handling our local log files
  vcell-cli/src/main/java/org/vcell/cli/CLILocalLogFileManager.java
  vcell-cli/src/main/java/org/vcell/cli/CLILogFileManager.java
  vcell-cli/src/main/java/org/vcell/cli/CLIPythonManager.java
  vcell-cli/src/main/java/org/vcell/cli/CLIUtils.java
  vcell-cli/src/main/java/org/vcell/cli/LocalLogFileName.java
  vcell-cli/src/main/java/org/vcell/cli/biosimulation/BiosimulationsCommand.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteCommand.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteImpl.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ExportOmexBatchCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlOmexConverter.java
Labels: bug, tech debt, VCell-7.5.0

#345 combine repeated reactants or products for SBML export
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
Labels: VCell-7.5.0

#352 351 vcell jscl expressions
  vcell-core/src/main/java/org/vcell/sbml/vcell/MathModel_SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTFuncNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTMinusTermNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTPowerNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionMathMLPrinter.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
  vcell-math/src/main/java/cbit/vcell/parser/MathMLTags.java
  vcell-math/src/main/java/cbit/vcell/parser/MathMLTester.java
  vcell-math/src/main/java/jscl/math/Expression.java
  vcell-math/src/main/java/jscl/math/function/Pow.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionFlattenTest.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionUtilsJSCLFlattenTest.java
  vcell-math/src/test/java/cbit/vcell/parser/MathMLTester.java
Labels: VCell-7.5.0

#359 fix dropped math override on vcml load
  vcell-client/src/main/java/cbit/vcell/client/ClientRequestManager.java
  vcell-client/src/main/java/cbit/vcell/client/task/ExportDocument.java
  vcell-client/src/main/java/org/vcell/util/gui/exporter/MatlabExtensionFilter.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/cbit/vcell/mathmodel/MathModel.java
  vcell-core/src/main/java/cbit/vcell/solver/MathOverrides.java
  vcell-core/src/main/java/cbit/vcell/solver/Simulation.java
  vcell-core/src/main/java/cbit/vcell/solver/SimulationSymbolTable.java
  vcell-core/src/main/java/cbit/vcell/solver/test/MathTestingUtilities.java
  vcell-core/src/main/java/cbit/vcell/xml/XmlReader.java
  vcell-core/src/main/java/org/vcell/optimization/OptXmlWriter.java
  vcell-core/src/main/java/org/vcell/optimization/ParameterEstimationTaskSimulatorIDA.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
  vcell-core/src/test/java/cbit/vcell/biomodel/BioModelTest.java
  vcell-core/src/test/java/org/vcell/sedml/StandaloneSEDMLTest.java
Labels: VCell-7.5.0

#361 transform units for overrides w/ same name, mapped more identifiables
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModel.java
  vcell-core/src/main/java/cbit/vcell/biomodel/meta/VCID.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/cbit/vcell/model/Kinetics.java
  vcell-core/src/main/java/cbit/vcell/solver/MathOverrides.java
  vcell-core/src/test/java/cbit/vcell/biomodel/ModelUnitConverterTest.java
  vcell-core/src/test/resources/cbit/vcell/biomodel/BioModel_overrides_std_units.vcml
Labels: VCell-7.5.0

#365 new default SBML-compatible unit system nmol, l, dm2, dm
  vcell-core/src/main/java/cbit/vcell/biomodel/ModelUnitConverter.java
  vcell-core/src/test/java/cbit/vcell/biomodel/ModelUnitConverterTest.java
Labels: VCell-7.5.0

#373 372 jscl simplify slow
  vcell-core/src/main/java/cbit/vcell/biomodel/ModelUnitConverter.java
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractStochMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/DiffEquMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/FeatureMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/MembraneMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/ParticleMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/RulebasedMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/StochMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/StructureAnalyzer.java
  vcell-core/src/main/java/cbit/vcell/mapping/potential/PotentialMapping.java
  vcell-core/src/main/java/cbit/vcell/solver/MathOverrides.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
  vcell-core/src/test/java/cbit/vcell/biomodel/ModelCountAndConcentrationTest.java
  vcell-math/src/main/java/cbit/vcell/parser/Expression.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
  vcell-math/src/main/java/jscl/math/Expression.java
  vcell-math/src/main/java/jscl/math/Factorization.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionFlattenTest.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionUtilsJSCLFlattenTest.java
  vcell-math/src/test/java/cbit/vcell/parser/MathMLTester.java
  vcell-util/src/main/java/org/vcell/util/Compare.java
Labels: VCell-7.5.0

#360 Dan repeated tasks3
  vcell-cli-utils/vcell_cli_utils/cli.py
  vcell-cli/src/main/java/org/vcell/cli/run/RunUtils.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
Labels: VCell-7.5.0

#377 fix simplifyJSCL(), introduce flattenSafe(), with tests.
  vcell-core/src/test/java/cbit/vcell/biomodel/ModelCountAndConcentrationTest.java
  vcell-math/src/main/java/cbit/vcell/parser/Expression.java
  vcell-math/src/main/java/cbit/vcell/parser/SimpleSymbolTable.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionFlattenTest.java
Labels: VCell-7.5.0

#379 cache and simplify MathOverride resolver - major speedup
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/cbit/vcell/solver/MathOverrides.java
Labels: VCell-7.5.0

#383 382 jscl simplify timeout
  vcell-math/src/main/java/cbit/vcell/parser/ASTIdNode.java
  vcell-math/src/main/java/cbit/vcell/parser/Expression.java
  vcell-math/src/main/java/cbit/vcell/parser/SymbolTable.java
  vcell-math/src/main/java/jscl/math/polynomial/groebner/Standard.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionFlattenTest.java
Labels: VCell-7.5.0

#385 apply same expression rebinding after flatten() or simplifyJSCL()
  vcell-math/src/main/java/cbit/vcell/parser/Expression.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionFlattenTest.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionUtilsJSCLFlattenTest.java
  vcell-math/src/test/java/cbit/vcell/parser/MathMLTester.java
Labels: VCell-7.5.0

#388 387 unbound constants flag invalid
  vcell-core/src/main/java/cbit/vcell/mapping/DiffEquMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/ParticleMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/RulebasedMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/StochMathMapping.java
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/main/java/cbit/vcell/math/Variable.java
  vcell-core/src/main/java/cbit/vcell/solver/ode/SensVariable.java
  vcell-core/src/main/java/cbit/vcell/solver/test/MathTestingUtilities.java
  vcell-core/src/main/java/cbit/vcell/xml/XmlReader.java
  vcell-math/src/main/java/cbit/vcell/parser/Expression.java
Labels: VCell-7.5.0

#392 refactor and extend BioEvents.gatherIssues() - fix NPE
  vcell-core/src/main/java/cbit/vcell/mapping/BioEvent.java
Labels: VCell-7.5.0

#390 389 mathgen var hash
  vcell-core/src/main/java/cbit/util/xml/XmlRdfUtil.java
  vcell-core/src/main/java/cbit/vcell/mapping/DiffEquMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/ParticleMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/RulebasedMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/StochMathMapping.java
Labels: VCell-7.5.0

#394 skip SBML Export of MicroscopyMeasurements (convolutions) - part of math
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
Labels: VCell-7.5.0

#396 spatial apps with lumped reactions: SBML Export unsupported (math fails)
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
Labels: VCell-7.5.0

#398 397: fix unbound var exception for fast system in math gen
  vcell-core/src/main/java/cbit/vcell/mapping/DiffEquMathMapping.java
Labels: VCell-7.5.0

#400 comparing uncompressed pixels is more robust, need to dig further
  vcell-core/src/main/java/cbit/image/VCImage.java
  vcell-core/src/test/java/cbit/image/VCImageTest.java
Labels: VCell-7.5.0

#403 Import copasi omex
  vcell-client/src/main/java/cbit/vcell/client/ClientRequestManager.java
  vcell-core/src/main/java/org/jlibsedml/Libsedml.java
  vcell-core/src/main/java/org/jlibsedml/SEDMLReader.java
  vcell-core/src/main/java/org/jlibsedml/SEDMLTags.java
  vcell-core/src/main/java/org/jlibsedml/SedML.java
  vcell-core/src/main/java/org/jlibsedml/XMLException.java
  vcell-core/src/main/java/org/jlibsedml/execution/ArchiveModelResolver.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
Labels: bug, VCell-7.5.0

#401 Fixed COPASI collision when attempting to map prefix to URI in jlibsedml
  vcell-core/src/main/java/org/jlibsedml/NamespaceContextHelper.java
  vcell-core/src/main/java/org/jlibsedml/SEDMLDocument.java
  vcell-core/src/main/java/org/jlibsedml/execution/ModelResolver.java
Labels: bug

#344 Expanded reporting system and added json exporting to SEDML exporting
  biosimulations_log4j2.xml
  vcell-cli/src/main/java/org/vcell/cli/CLILocalLogFileManager.java
  vcell-cli/src/main/java/org/vcell/cli/CLIRecordable.java
  vcell-cli/src/main/java/org/vcell/cli/CLIRecorder.java
  vcell-cli/src/main/java/org/vcell/cli/CLIStandalone.java
  vcell-cli/src/main/java/org/vcell/cli/CLIUtils.java
  vcell-cli/src/main/java/org/vcell/cli/LocalLogFileName.java
  vcell-cli/src/main/java/org/vcell/cli/biosimulation/BiosimulationsCommand.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteCommand.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteImpl.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ExportOmexBatchCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlOmexConverter.java
  vcell-core/pom.xml
  vcell-core/src/main/java/org/vcell/sedml/GsonSEDMLLoggerSerializer.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLConversion.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLLogger.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLRecorder.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLTaskRecord.java
  vcell-core/src/main/java/org/vcell/sedml/TaskResult.java
  vcell-core/src/main/java/org/vcell/sedml/TaskType.java
  vcell-util/pom.xml
  vcell-util/src/main/java/org/vcell/util/VCellUtilityHub.java
  vcell-util/src/main/java/org/vcell/util/recording/CLIRecordManager.java
  vcell-util/src/main/java/org/vcell/util/recording/FileRecord.java
  vcell-util/src/main/java/org/vcell/util/recording/GsonExceptionSerializer.java
  vcell-util/src/main/java/org/vcell/util/recording/GsonStackTraceElementSerializer.java
  vcell-util/src/main/java/org/vcell/util/recording/Record.java
  vcell-util/src/main/java/org/vcell/util/recording/RecordManager.java
  vcell-util/src/main/java/org/vcell/util/recording/Recorder.java
  vcell-util/src/main/java/org/vcell/util/recording/VCellRecordManager.java
Labels: enhancement, VCell-7.5.0

#408 fix round-trip fails for geometry Origin (for 2D, don't compare z)
  vcell-core/src/main/java/cbit/vcell/geometry/GeometrySpec.java
  vcell-util/src/main/java/org/vcell/util/Origin.java
Labels: VCell-7.5.0

#415 414 expr related test failures
  vcell-admin/src/test/java/org/vcell/sbml/SbmlVcmlConverter.java
  vcell-client/src/main/java/cbit/vcell/client/data/ODETimePlotMultipleScansPanel.java
  vcell-client/src/main/java/cbit/vcell/client/data/PDEDataViewer.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/simulation/SimulationWorkspace.java
  vcell-client/src/main/java/cbit/vcell/client/task/RunSims.java
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/DiffEquMathMapping.java
  vcell-core/src/main/java/cbit/vcell/math/Constant.java
  vcell-core/src/main/java/cbit/vcell/math/Function.java
  vcell-core/src/main/java/cbit/vcell/math/VariableHash.java
  vcell-core/src/main/java/cbit/vcell/solver/MathOverrides.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTAddNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTAndNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTAssignNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTExpression.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTFloatNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTFuncNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTIdNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTInvertTermNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTLaplacianNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTLiteralNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTMinusTermNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTMultNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTNotNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTOrNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTPowerNode.java
  vcell-math/src/main/java/cbit/vcell/parser/ASTRelationalNode.java
  vcell-math/src/main/java/cbit/vcell/parser/DerivativeNode.java
  vcell-math/src/main/java/cbit/vcell/parser/Expression.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
  vcell-math/src/main/java/cbit/vcell/parser/Node.java
  vcell-math/src/main/java/cbit/vcell/parser/RationalExpUtils.java
  vcell-math/src/main/java/cbit/vcell/parser/VCUnitEvaluator.java
  vcell-math/src/test/java/cbit/vcell/parser/MathMLTester.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ReactStepTable.java
  vcell-server/src/main/java/cbit/vcell/modeldb/StructureMappingTable.java
Labels: VCell-7.5.0

#417 force zero-scale unit (e.g. [0 uM]) to 'tbd', update model fault list
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
  vcell-math/src/main/java/cbit/vcell/units/VCUnitSystem.java
  vcell-math/src/test/java/cbit/vcell/units/VCUnitDefinitionTest.java
  vcell-math/src/test/java/cbit/vcell/units/VCUnitTest.java
  vcell-math/src/test/java/cbit/vcell/units/parser/UnitSymbolTest.java
Labels: VCell-7.5.0

#420 Fix lumped reaction SBML import
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/main/java/cbit/vcell/model/DistributedKinetics.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLUnitTranslator.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterTest.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/lumped_reaction_local_size_in_rate.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/lumped_reaction_no_size_in_rate.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/lumped_reaction_proper_size_in_rate.vcml
  vcell-math/src/main/java/cbit/vcell/matrix/RationalExp.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionTest.java
Labels: VCell-7.5.0

#421 Added env-var reading for BSTS tests regarding substituting algorithms.
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-core/src/main/java/cbit/vcell/solver/SolverDescription.java
  vcell-core/src/main/java/cbit/vcell/solver/SolverUtilities.java
  vcell-core/src/main/java/org/jlibsedml/Simulation.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
Labels: bug, BioSimulators, VCell-7.5.0

#435 434 compare model equivalency
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/ParameterContext.java
  vcell-core/src/main/java/cbit/vcell/mapping/ReactionSpec.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/cbit/vcell/mapping/SpeciesContextSpec.java
  vcell-core/src/main/java/cbit/vcell/mapping/StructureMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/potential/ElectricalDevice.java
  vcell-core/src/main/java/cbit/vcell/mapping/vcell_4_8/ElectricalDevice.java
  vcell-core/src/main/java/cbit/vcell/mapping/vcell_4_8/MathMapping_4_8.java
  vcell-core/src/main/java/cbit/vcell/model/Catalyst.java
  vcell-core/src/main/java/cbit/vcell/model/DBFormalSpecies.java
  vcell-core/src/main/java/cbit/vcell/model/DBSpecies.java
  vcell-core/src/main/java/cbit/vcell/model/Feature.java
  vcell-core/src/main/java/cbit/vcell/model/FluxReaction.java
  vcell-core/src/main/java/cbit/vcell/model/GHKKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/GeneralCurrentKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/GeneralCurrentLumpedKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/GeneralKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/GeneralLumpedKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/GeneralPermeabilityKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/HMM_IRRKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/HMM_REVKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/Kinetics.java
  vcell-core/src/main/java/cbit/vcell/model/Macroscopic_IRRKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/MassActionKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/MassActionSolver.java
  vcell-core/src/main/java/cbit/vcell/model/Membrane.java
  vcell-core/src/main/java/cbit/vcell/model/Microscopic_IRRKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/Model.java
  vcell-core/src/main/java/cbit/vcell/model/ModelQuantity.java
  vcell-core/src/main/java/cbit/vcell/model/ModelRelationVisitor.java
  vcell-core/src/main/java/cbit/vcell/model/NernstKinetics.java
  vcell-core/src/main/java/cbit/vcell/model/Parameter.java
  vcell-core/src/main/java/cbit/vcell/model/Product.java
  vcell-core/src/main/java/cbit/vcell/model/Reactant.java
  vcell-core/src/main/java/cbit/vcell/model/ReactionParticipant.java
  vcell-core/src/main/java/cbit/vcell/model/ReactionStep.java
  vcell-core/src/main/java/cbit/vcell/model/SimpleReaction.java
  vcell-core/src/main/java/cbit/vcell/model/Species.java
  vcell-core/src/main/java/cbit/vcell/model/SpeciesContext.java
  vcell-core/src/main/java/cbit/vcell/model/Structure.java
  vcell-core/src/main/java/org/vcell/util/Relatable.java
  vcell-core/src/main/java/org/vcell/util/RelationVisitor.java
  vcell-core/src/test/java/org/vcell/util/RelationVisitorTest.java
Labels: VCell-7.5.0

#433 ExpressionUtil.getLinearFactor() works with inequalities.
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
  vcell-math/src/test/java/cbit/vcell/parser/ExpressionTest.java
Labels: VCell-7.5.0

#431 replace nmol with umol for SBML exported substance unit
  vcell-core/src/main/java/cbit/vcell/biomodel/ModelUnitConverter.java
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/test/java/cbit/vcell/biomodel/ModelUnitConverterTest.java
Labels: VCell-7.5.0

#438 reduced logging for Expression and ModelRelationVisitor
  vcell-core/src/main/java/cbit/vcell/model/ModelRelationVisitor.java
  vcell-math/src/main/java/cbit/vcell/parser/Expression.java
Labels: VCell-7.5.0

#381 380 import omex commands
  vcell-cli/src/main/java/org/vcell/cli/CLIStandalone.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ExportOmexBatchCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ExportOmexCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ImportOmexBatchCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ImportOmexCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlOmexConverter.java
Labels: VCell-7.5.0
