Repository virtualcell/vcell, pull requests merged in 2023-03, with the labels that each got.

#820 Copy and paste multiple reactions now working.
  vcell-client/src/main/java/cbit/vcell/graph/gui/ReactionCartoonTool.java
Labels: enhancement, tech debt, VCell-7.6.0, java

#824 823 fix vcell web config
  docker/build/Dockerfile-data-dev
  docker/build/Dockerfile-web-dev
  docker/build/vcell-admin.log4j.xml
  docker/build/vcell-api.log4j.xml
  docker/build/vcell-batch.log4j.xml
  docker/build/vcell-data.log4j.xml
  docker/build/vcell-db.log4j.xml
  docker/build/vcell-opt.log4j.xml
  docker/build/vcell-sched.log4j.xml
  docker/build/vcell-submit.log4j.xml
  docker/build/vcell-web.log4j.xml
  docker/swarm/docker-compose.yml
  vcell-util/src/main/resources/VCellEcsLayout.json
Labels: VCell-7.5.0, VCell-7.6.0

#831 deploy vcell-su CLI as a usable script
  .github/workflows/site_deploy.yml
  docker/build/admin/vcell-su.sh
  vcell-admin/src/main/java/org/vcell/admin/cli/db/DatabaseDestroyAndRecreateCommand.java
Labels: VCell-7.5.0, VCell-7.6.0

#828 827 denoise logs
  .github/workflows/site_deploy.yml
  docker/build/admin/vcell-su.sh
  docker/swarm/vcell-admin/vcell_admin/cli.py
  vcell-admin/src/main/java/org/vcell/admin/cli/AdminCLI.java
  vcell-admin/src/main/java/org/vcell/admin/cli/mathverifier/ModeldbLoadTestCommand.java
  vcell-api/src/main/java/org/vcell/rest/rpc/RpcRestlet.java
  vcell-core/src/main/java/cbit/vcell/graph/ReactionCartoonFull.java
  vcell-core/src/main/java/cbit/vcell/message/server/bootstrap/client/RpcDbServerProxy.java
  vcell-core/src/main/java/cbit/vcell/simdata/DataSetControllerImpl.java
  vcell-server/src/main/java/cbit/vcell/message/server/batch/sim/HtcSimulationWorker.java
  vcell-server/src/main/java/cbit/vcell/message/server/db/DatabaseServer.java
  vcell-server/src/main/java/cbit/vcell/messaging/db/ServiceStatusDbDriver.java
  vcell-server/src/main/java/cbit/vcell/messaging/db/SimulationJobDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DatabasePolicySQL.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ModelDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ServerDocumentManager.java
Labels: VCell-7.5.0, VCell-7.6.0

#846 Added FlyBase database for Annotations.
  vcell-core/src/main/java/cbit/vcell/biomodel/meta/VCMetaDataMiriamManager.java
Labels: enhancement, High Priority, VCell-7.5.1

#847 Eliminating obsolete file formats cellml and sedx.
  vcell-client/src/main/java/org/vcell/util/gui/exporter/FileFilters.java
Labels: bug, VCell-7.5.1
