Repository virtualcell/vcell, pull requests merged in 2023-01, with the labels that each got.

#725 724 structured logging phase 1
  biosimulations_log4j2.xml
  docker/build/vcell-api.log4j.xml
  docker/build/vcell-batch.log4j.xml
  docker/build/vcell-data.log4j.xml
  docker/build/vcell-db.log4j.xml
  docker/build/vcell-opt.log4j.xml
  docker/build/vcell-sched.log4j.xml
  docker/build/vcell-submit.log4j.xml
  vcell-cli/src/main/resources/log4j2.xml
  vcell-core/src/main/java/cbit/vcell/mongodb/VCMongoDbDriver.java
  vcell-core/src/main/java/cbit/vcell/mongodb/VCMongoMessage.java
  vcell-util/pom.xml
  vcell-util/src/main/resources/EcsLayout.json
Labels: VCell-7.5.0

#741 Removed bad warning for mass action degradation reaction Issue #730
  vcell-core/src/main/java/cbit/vcell/model/ReactionStep.java
Labels: bug, High Priority, VCell-7.5.0

#734 731 fix sedml mathoverride tests
  vcell-core/src/main/java/cbit/vcell/solver/ConstantArraySpec.java
  vcell-core/src/main/java/cbit/vcell/solver/MathOverrides.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterCommon.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterSBMLTest.java
Labels: VCell-7.5.0

#743 Microscope protocol not copied together with the application
  vcell-core/src/main/java/cbit/vcell/mapping/MicroscopeMeasurement.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
Labels: bug, VCell-7.5.0

#746 Dealing with negative or zero diffusion coefficients.
  vcell-core/src/main/java/cbit/vcell/mapping/SpeciesContextSpec.java
Labels: bug, VCell-7.5.0

#750 Wrong initialization of diffusion coefficient during copy application.
  vcell-core/src/main/java/cbit/vcell/mapping/SpeciesContextSpec.java
Labels: bug, VCell-7.5.0

#754 vcell-api return software-version with URL path / for Better Uptime
  vcell-api/src/main/java/org/vcell/rest/VCellApiApplication.java
Labels: VCell-7.5.0

#739 Ion math compare
  .github/workflows/ci_cd.yml
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlValidator.java
  vcell-client/src/main/java/cbit/vcell/math/gui/MathDebuggerPanel.java
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractMathMapping.java
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/main/java/cbit/vcell/math/MathUtilities.java
  vcell-core/src/main/java/cbit/vcell/mongodb/VCMongoDbDriver.java
  vcell-core/src/main/java/cbit/vcell/solver/ode/DefaultODESolver.java
  vcell-core/src/test/java/cbit/vcell/mapping/MathGenCompareTest.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterSBMLTest.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
  vcell-server/src/main/java/cbit/vcell/modeldb/MathVerifier.java
Labels: VCell-7.5.0, validation

#756 upgrade Restlet 2.2.1 to 2.4.3 (latest) with upgraded cipher suites.
  vcell-api/pom.xml
  vcell-api/src/main/java/org/vcell/rest/VCellApiMain.java
  vcell-api/src/main/java/org/vcell/rest/auth/CustomAuthHelper.java
  vcell-api/src/main/java/org/vcell/rest/rpc/RpcRestlet.java
Labels: VCell-7.5.0

#758 Dan springsalad2
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/ApplicationSpecificationsPanel.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/MolecularTypePropertiesPanel.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/SelectionManager.java
  vcell-client/src/main/java/cbit/vcell/mapping/gui/MolecularTypeSpecsTableModel.java
  vcell-client/src/main/java/cbit/vcell/mapping/gui/SpeciesContextSpecsTableModel.java
  vcell-client/src/main/java/org/vcell/model/springsalad/gui/MolecularStructuresPanel.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/cbit/vcell/mapping/SpeciesContextSpec.java
Labels: SpringSaLaD

#757 use COPASI report to report iteration #, error, and best param values
  docker/README_serviceInfo.md
  docker/swarm/README_stack_on_mac.md
  docker/swarm/docker-compose-dev.yml
  docker/swarm/docker-compose-middleware-rel.yml
  docker/swarm/docker-compose-middleware-test2.yml
  docker/swarm/docker-stack-logspout.yml
  pythonProject/docker_run.sh
  pythonProject/run.sh
  pythonProject/vcell-opt/paramest.ipynb
  pythonProject/vcell-opt/poetry.lock
  pythonProject/vcell-opt/pyproject.toml
  pythonProject/vcell-opt/tests/vcellopt_test.py
  pythonProject/vcell-opt/vcell_opt/data/__init__.py
  pythonProject/vcell-opt/vcell_opt/optService.py
  pythonProject/vcell-opt/vcell_opt/optUtils.py
  thriftBuild/vcellopt.jtd.json
  vcell-api/src/main/java/org/vcell/rest/server/OptimizationRunServerResource.java
  vcell-client/src/main/java/org/vcell/optimization/gui/ParameterEstimationRunTaskPanel.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiOptSolverCallbacks.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiOptimizationSolver.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiUtils.java
  vcell-core/src/main/java/org/vcell/optimization/OptMessage.java
  vcell-core/src/main/java/org/vcell/optimization/jtd/OptProgressItem.java
  vcell-core/src/main/java/org/vcell/optimization/jtd/OptProgressReport.java
  vcell-core/src/main/java/org/vcell/optimization/jtd/OptResultSet.java
  vcell-core/src/test/java/org/vcell/optimization/CopasiOptimizationSolverTest.java
  vcell-core/src/test/java/org/vcell/optimization/CopasiUtilsTest.java
  vcell-core/src/test/resources/org/vcell/optimization/report.txt
  vcell-server/src/main/java/cbit/vcell/message/server/batch/opt/OptimizationBatchServer.java
  vcell-server/src/main/java/cbit/vcell/message/server/htc/HtcProxy.java
  vcell-server/src/main/java/cbit/vcell/message/server/htc/slurm/SlurmProxy.java
Labels: VCell-7.5.0

#762 761 improved parest feedback
  docker/build/vcell-submit.log4j.xml
  docker/swarm/README_stack_on_mac.md
  pythonProject/vcell-opt/tests/vcellopt_test.py
  pythonProject/vcell-opt/vcell_opt/data/__init__.py
  pythonProject/vcell-opt/vcell_opt/optService.py
  pythonProject/vcell-opt/vcell_opt/optUtils.py
  thriftBuild/vcellopt.jtd.json
  vcell-admin/src/main/java/org/vcell/admin/cli/AdminCLI.java
  vcell-admin/src/main/java/org/vcell/admin/cli/CLIDatabaseService.java
  vcell-admin/src/main/java/org/vcell/admin/cli/tools/UsageCommand.java
  vcell-api/src/main/java/org/vcell/rest/rpc/RpcRestlet.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/DocumentWindow.java
  vcell-client/src/main/java/cbit/vcell/client/task/ClientTaskDispatcher.java
  vcell-client/src/main/java/org/vcell/optimization/gui/ParameterEstimationRunTaskPanel.java
  vcell-client/src/main/java/org/vcell/util/gui/AsynchProgressPopup.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiOptSolverCallbacks.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiOptimizationSolver.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiUtils.java
  vcell-core/src/main/java/org/vcell/optimization/jtd/OptProgressItem.java
  vcell-core/src/main/java/org/vcell/optimization/jtd/OptProgressReport.java
  vcell-core/src/test/java/org/vcell/optimization/CopasiUtilsTest.java
  vcell-core/src/test/resources/org/vcell/optimization/report.txt
  vcell-server/src/main/java/cbit/vcell/modeldb/AdminDBTopLevel.java
Labels: VCell-7.5.0

#764 763 refine parameter estimation feedback
  debug_log4j2.xml
  vcell-api/src/main/java/org/vcell/rest/server/OptimizationRunServerResource.java
  vcell-client/src/main/java/org/vcell/optimization/gui/ParameterEstimationRunTaskPanel.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiOptimizationSolver.java
  vcell-core/src/main/java/org/vcell/optimization/CopasiUtils.java
  vcell-core/src/main/java/org/vcell/optimization/ParameterEstimationTaskSimulatorIDA.java
  vcell-server/src/main/java/cbit/vcell/message/server/batch/opt/OptimizationBatchServer.java
Labels: VCell-7.5.0

#765 updated COPASI parest URL link (and others)
  vcell-client/src/main/resources/vcell_dynamic_properties.csv
Labels: VCell-7.5.0

#766 738 inconsistent geometry sizes
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlValidator.java
  vcell-client/src/main/java/cbit/vcell/microscopy/gui/DiffOnRateEstimationPanel.java
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModel.java
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModelTransforms.java
  vcell-core/src/main/java/cbit/vcell/mapping/vcell_4_8/MembraneStructureAnalyzer.java
  vcell-core/src/main/java/cbit/vcell/mapping/vcell_4_8/StochMathMapping_4_8.java
  vcell-core/src/main/java/cbit/vcell/model/Model.java
  vcell-core/src/test/java/cbit/vcell/mapping/MathGenCompareTest.java
  vcell-math/src/main/java/cbit/vcell/parser/ExpressionUtils.java
Labels: VCell-7.5.0

#767 702 nonequiv particle stochastic
  .gitignore
  vcell-admin/src/main/java/org/vcell/admin/cli/CLIDatabaseService.java
  vcell-cli/src/main/java/org/vcell/cli/CLIStandalone.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/DatabaseCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlValidator.java
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModelTransforms.java
  vcell-core/src/main/java/cbit/vcell/math/MathCompareResults.java
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/main/java/cbit/vcell/math/ParticleJumpProcess.java
  vcell-core/src/main/java/org/vcell/util/document/GroupAccessSome.java
  vcell-core/src/test/java/cbit/vcell/mapping/MathGenCompareTest.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterSBMLTest.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_83462243.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_83651737.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_97075423.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_97705317.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_97786619.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_97786886.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_97787114.vcml
  vcell-core/src/test/resources/org/vcell/sbml/vcml_testmodels/biomodel_98730962.vcml
Labels: VCell-7.5.0

#773 Removing SpringSaLaD elements from Alpha in preparation for release.
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/ApplicationSpecificationsPanel.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/BioModelEditor.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/BioModelEditorApplicationsPanel.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/BioModelEditorApplicationsTableModel.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/BioModelEditorTreeCellRenderer.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/BioModelParametersPanel.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/DocumentEditor.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/DocumentEditorTreeCellEditor.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/MolecularTypePropertiesPanel.java
  vcell-client/src/main/java/cbit/vcell/desktop/BioModelInfoCellRenderer.java
  vcell-client/src/main/java/org/vcell/util/gui/DefaultScrollTableCellRenderer.java
  vcell-core/src/main/java/cbit/vcell/client/constants/GuiConstants.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/util/document/BioModelChildSummary.java
Labels: VCell-7.5.0, SpringSaLaD
