Repository virtualcell/vcell, pull requests merged in 2023-02, with the labels that each got.

#774 Export to SBML only used physical constants.
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
Labels: enhancement, VCell-7.5.0, SBML

#775 added BioModelTransforms.fixLegacyMassAction() with tests from db.
  .gitignore
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModelTransforms.java
  vcell-core/src/test/java/cbit/vcell/mapping/MathGenCompareTest.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
Labels: VCell-7.5.0

#777 581 legacy flux xml cache
  vcell-core/src/test/java/cbit/vcell/mapping/MathGenCompareTest.java
  vcell-core/src/test/java/org/vcell/sbml/VcmlTestSuiteFiles.java
Labels: VCell-7.5.0

#776 Fixed renamed reaction parameters revert to predefined names on save.
  vcell-core/src/main/java/cbit/vcell/model/Kinetics.java
Labels: bug, High Priority, VCell-7.5.0

#780 restore secondary simdata dir
  docker/build/Dockerfile-data-dev
  docker/swarm/docker-compose.yml
  docker/swarm/localconfig_mockslurm.sh
  docker/swarm/localconfig_realslurm.sh
  docker/swarm/serverconfig-uch.sh
Labels: VCell-7.5.0

#782 don't include unused reserved symbol in exported SBML if overridden.
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
Labels: VCell-7.5.0

#787 786 vcell api structured logging
  docker/build/build.sh
  docker/build/vcell-api.log4j.xml
  docker/build/vcell-batch.log4j.xml
  docker/build/vcell-data.log4j.xml
  docker/build/vcell-db.log4j.xml
  docker/build/vcell-master.log4j.xml
  docker/build/vcell-opt.log4j.xml
  docker/build/vcell-sched.log4j.xml
  docker/build/vcell-submit.log4j.xml
  vcell-admin/src/main/java/org/vcell/admin/cli/sim/SimDataVerifier.java
  vcell-api/src/main/java/org/vcell/rest/UserVerifier.java
  vcell-api/src/main/java/org/vcell/rest/VCellApiMain.java
  vcell-api/src/main/java/org/vcell/rest/VCellCookieAuthenticator.java
  vcell-api/src/main/java/org/vcell/rest/admin/AdminJobsRestlet.java
  vcell-api/src/main/java/org/vcell/rest/common/SimulationRepresentation.java
  vcell-api/src/main/java/org/vcell/rest/events/EventsRestlet.java
  vcell-api/src/main/java/org/vcell/rest/health/HealthRestlet.java
  vcell-api/src/main/java/org/vcell/rest/health/HealthService.java
  vcell-api/src/main/java/org/vcell/rest/rpc/RpcRestlet.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelBNGLServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelDiagramServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelSBMLServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelSimulationSaveServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelSimulationServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelSimulationStartServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelSimulationStopServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelVCMLModelInfoResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelVCMLServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelsServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/ClientTopicMessageCollector.java
  vcell-api/src/main/java/org/vcell/rest/server/PublicationServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/PublicationsServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/RestDatabaseService.java
  vcell-api/src/main/java/org/vcell/rest/server/SimDataServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/SimDataValuesServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/SimulationStatusServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/SimulationTasksServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/TestRestServerBlinov.java
  vcell-api/src/main/java/org/vcell/rest/users/ContactUsRestlet.java
  vcell-api/src/main/java/org/vcell/rest/users/EmailTokenVerifyRestlet.java
  vcell-api/src/main/java/org/vcell/rest/users/LostPasswordRestlet.java
  vcell-api/src/main/java/org/vcell/rest/users/NewUserRestlet.java
  vcell-core/src/main/java/cbit/vcell/math/RowColumnResultSet.java
  vcell-core/src/main/java/cbit/vcell/solver/SolverTaskDescription.java
  vcell-core/src/main/java/cbit/vcell/solver/ode/ODESimData.java
  vcell-core/src/main/java/org/vcell/chombo/RefinementRoi.java
  vcell-core/src/main/java/org/vcell/util/document/User.java
  vcell-util/src/main/resources/EcsLayout.json
Labels: VCell-7.6.0

#789 Auto stash before checking out "origin/master"
  vcell-admin/src/main/java/org/vcell/admin/cli/sim/SimDataVerifier.java
Labels: VCell-7.6.0

#791 catch exception when time discontinuities are not simple.
  vcell-core/src/main/java/cbit/vcell/solvers/AbstractCompiledSolver.java
  vcell-core/src/main/java/cbit/vcell/solvers/FiniteVolumeFileWriter.java
  vcell-core/src/main/java/cbit/vcell/solvers/FunctionFileGenerator.java
Labels: VCell-7.6.0

#800 catch exception when time discontinuities are not simple.
  vcell-core/src/main/java/cbit/vcell/solvers/AbstractCompiledSolver.java
  vcell-core/src/main/java/cbit/vcell/solvers/FiniteVolumeFileWriter.java
  vcell-core/src/main/java/cbit/vcell/solvers/FunctionFileGenerator.java
Labels: VCell-7.5.0

#802 793 sbml export from gui with apply overrides in BioModel
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelSBMLServerResource.java
  vcell-cli/src/main/java/org/vcell/cli/sbml/ModelCommand.java
  vcell-client/src/main/java/org/vcell/util/gui/exporter/SbmlExtensionFilter.java
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModel.java
  vcell-core/src/main/java/cbit/vcell/biomodel/BioModelTransforms.java
  vcell-core/src/main/java/cbit/vcell/solver/SimulationSymbolTable.java
  vcell-core/src/main/java/cbit/vcell/xml/XmlHelper.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/test/java/cbit/vcell/biomodel/MathOverrideApplyTest.java
  vcell-core/src/test/java/org/vcell/sbml/SBMLSpatialTest.java
Labels: VCell-7.5.0

#801 794 bmdb imports fail
  vcell-client/src/main/java/cbit/vcell/client/desktop/BioModelsNetJPanel.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/BioModelsNetPanel.java
  vcell-client/src/main/resources/bioModelsNetInfo.xml
  vcell-core/.gitignore
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
  vcell-core/src/test/java/org/vcell/sbml/BMDB_SBMLImportTest.java
  vcell-core/src/test/java/org/vcell/sbml/BMDB_SBML_Files.java
  vcell-core/src/test/java/org/vcell/sbml/SBMLTestSuiteImportTest.java
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000048.xml
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000205.xml
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000264.xml
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000427.xml
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000452.xml
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000453.xml
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000594.xml
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000595.xml
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000623.xml
  vcell-core/src/test/resources/org/vcell/sbml/sbml-biomodels-curated/BIOMD0000000826.xml
Labels: VCell-7.5.0

#808 Dan 792 copy paste
  vcell-client/src/main/java/cbit/plot/gui/Plot2DDataPanel.java
  vcell-client/src/main/java/cbit/vcell/graph/gui/BioCartoonTool.java
  vcell-client/src/main/java/cbit/vcell/graph/gui/ReactionCartoonTool.java
Labels: bug, High Priority, VCell-7.5.0, VCell-7.6.0

#809 Remove import psf controls from Microscopy protocols panel.
  vcell-client/src/main/java/cbit/vcell/mapping/gui/MicroscopeMeasurementPanel.java
Labels: bug, VCell-7.5.0, VCell-7.6.0

#810 BMDB import adding 1 at the end of some names.
  vcell-client/src/main/java/cbit/vcell/client/ClientRequestManager.java
Labels: bug, VCell-7.5.0, VCell-7.6.0

#811 make vcell-batch use secondary simdatadir
  docker/build/Dockerfile-admin-dev
  docker/build/Dockerfile-batch-dev
  docker/build/Dockerfile-sched-dev
  docker/build/Dockerfile-submit-dev
  docker/build/batch/JavaPostprocessor64
  docker/build/batch/JavaPreprocessor64
  docker/build/batch/JavaSimExe64
  docker/build/batch/entrypoint.sh
  docker/swarm/docker-compose.yml
  docker/swarm/localconfig_realslurm.sh
  vcell-server/src/main/java/cbit/vcell/message/server/htc/slurm/SlurmProxy.java
Labels: VCell-7.5.0

#812 806 secondary archive simdatadirs fixes
  docker/build/Dockerfile-sched-dev
  docker/build/Dockerfile-submit-dev
  docker/build/Dockerfile-web-dev
  docker/build/build.sh
  docker/swarm/README_stack_on_mac.md
  docker/swarm/docker-compose-dev.yml
  docker/swarm/docker-compose.yml
  docker/swarm/localconfig_realslurm.sh
  docker/swarm/serverconfig-uch.sh
Labels: VCell-7.5.0

#813 806 vcell batch archive simdatadir
  docker/build/Dockerfile-batch-dev
  docker/build/Dockerfile-submit-dev
  docker/build/build.sh
  vcell-core/src/main/java/cbit/vcell/resource/PropertyLoader.java
  vcell-server/src/main/java/cbit/vcell/message/server/htc/slurm/SlurmProxy.java
Labels: VCell-7.5.0

#815 catch all exceptions to not abort viewing data.
  vcell-client/src/main/java/cbit/vcell/client/data/SimulationWorkspaceModelInfo.java
Labels: VCell-7.5.0
