Repository virtualcell/vcell, pull requests merged in 2023-09, with the labels that each got.

#963 Security vulnerability with sim results path manipulation.
  vcell-core/src/main/java/cbit/vcell/simdata/SimulationData.java
Labels: High Priority, VCell-7.6.0, SpringSaLaD

#967 db browseimage fails
  vcell-server/src/main/java/cbit/vcell/modeldb/DbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/GeomDbDriver.java
  vcell-server/src/main/java/cbit/vcell/modeldb/ImageTable.java
  vcell-server/src/main/java/org/vcell/db/migrate/MigrateDbManager.java
Labels: bug, VCell-7.5.0, VCell-7.6.0, VCell-7.5.1

#965 We now can export flattened reaction networks (rule-based but no rules)
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterSBMLTest.java
Labels: bug, enhancement, rule-based

#969 Adding enableSpringSaLaD propperty
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/BioModelEditorApplicationsPanel.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/DocumentEditor.java
  vcell-core/src/main/java/cbit/vcell/resource/PropertyLoader.java
Labels: enhancement, High Priority, SpringSaLaD, VCell-7.5.1

#975 Dan ss xmlproducer2
  vcell-core/src/main/java/cbit/vcell/export/SpringSaLaDExporter.java
  vcell-core/src/main/java/cbit/vcell/solver/LangevinSimulationOptions.java
  vcell-core/src/main/java/cbit/vcell/solver/SolverTaskDescription.java
  vcell-core/src/main/java/cbit/vcell/xml/XMLTags.java
  vcell-core/src/main/java/cbit/vcell/xml/Xmlproducer.java
Labels: enhancement, VCell-7.6.0, SpringSaLaD

#976 Batch simulations only works with 'Variable Reduction' checkbox disabled
  vcell-client/src/main/java/cbit/vcell/client/ClientSimManager.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/simulation/SimulationListPanel.java
Labels: bug, High Priority, VCell-7.6.0

#979 Dan ss xml reader
  vcell-client/src/main/java/cbit/vcell/mapping/gui/ModelProcessSpecsTableModel.java
  vcell-client/src/main/java/cbit/vcell/solver/ode/gui/LangevinOptionsPanel.java
  vcell-core/src/main/java/cbit/vcell/mapping/ReactionRuleSpec.java
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/main/java/cbit/vcell/solver/LangevinSimulationOptions.java
  vcell-core/src/main/java/cbit/vcell/xml/XMLTags.java
  vcell-core/src/main/java/cbit/vcell/xml/XmlReader.java
  vcell-core/src/main/java/cbit/vcell/xml/Xmlproducer.java
Labels: SpringSaLaD, Next Release
