Repository virtualcell/vcell, pull requests merged in 2023-07, with the labels that each got.

#931 CLI for biosimulations project submission pipeline
  vcell-cli-utils/biosimulations_pipeline/README.md
  vcell-cli-utils/biosimulations_pipeline/__init__.py
  vcell-cli-utils/biosimulations_pipeline/biosim_api.py
  vcell-cli-utils/biosimulations_pipeline/cli.py
  vcell-cli-utils/biosimulations_pipeline/data_manager.py
  vcell-cli-utils/biosimulations_pipeline/datamodels.py
  vcell-cli-utils/biosimulations_pipeline/hdf5_compare.py
  vcell-cli-utils/omex/output/biosimulations_comparisons.ndjson
  vcell-cli-utils/omex/output/biosimulations_projects.ndjson
  vcell-cli-utils/omex/output/biosimulations_runs.ndjson
  vcell-cli-utils/poetry.lock
  vcell-cli-utils/pyproject.toml
  vcell-cli-utils/tests/citation_test.py
  vcell-cli-utils/tests/hdf5_test.py
  vcell-cli-utils/vcell_common/__init__.py
  vcell-cli-utils/vcell_common/api_utils.py
  vcell-cli-utils/vcell_pipeline/citation.py
  vcell-cli-utils/vcell_pipeline/download_vcell_omex.py
Labels: enhancement, SED-ML, BioSimulators, standards, VCell-7.5.0, validation, python, VCell-7.5.1

#933 NPE when converting conc to count and vice-versa for spatial stochastic
  vcell-core/src/main/java/cbit/vcell/mapping/ParticleMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/test/java/cbit/vcell/biomodel/ModelCountAndConcentrationTest.java
  vcell-core/src/test/resources/cbit/vcell/biomodel/Stoch_spatial_conc.vcml
  vcell-core/src/test/resources/cbit/vcell/biomodel/Stoch_spatial_count.vcml
Labels: bug, High Priority, VCell-7.5.1

#939 new AdminStats web page
  vcell-admin/src/main/java/org/vcell/admin/cli/sim/SimDataVerifier.java
  vcell-api/src/main/java/org/vcell/rest/VCellApiApplication.java
  vcell-api/src/main/java/org/vcell/rest/admin/AdminStatsRestlet.java
  vcell-api/src/main/java/org/vcell/rest/server/RestDatabaseService.java
  vcell-api/src/main/java/org/vcell/rest/users/LoginFormRestlet.java
  vcell-server/src/main/java/cbit/vcell/message/server/dispatcher/SimulationDatabase.java
  vcell-server/src/main/java/cbit/vcell/message/server/dispatcher/SimulationDatabaseDirect.java
  vcell-server/src/main/java/cbit/vcell/message/server/dispatcher/SimulationDispatcherEngine.java
  vcell-server/src/main/java/cbit/vcell/message/server/dispatcher/SimulationStateMachine.java
  vcell-server/src/main/java/cbit/vcell/modeldb/AdminDBTopLevel.java
  vcell-server/src/main/java/cbit/vcell/modeldb/LocalAdminDbServer.java
Labels: bug, VCell-7.5.0, VCell-7.5.1
