Repository virtualcell/vcell, pull requests merged in 2023-06, with the labels that each got.

#904 Test biosimulations projects
  .github/workflows/ci_cd.yml
  biosimulators.json
  vcell-cli-utils/poetry.lock
  vcell-cli-utils/pyproject.toml
  vcell-cli-utils/vcell_cli_utils/downloadProjects.py
  vcell-cli-utils/vcell_cli_utils/ndiff.py
  vcell-cli/src/main/java/org/vcell/cli/biosimulation/BiosimulationsCommand.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteCommand.java
  vcell-cli/src/test/java/org/vcell/cli/run/BSTSBasedOmexExecTest.java
  vcell-cli/src/test/java/org/vcell/cli/run/BSTSBasedTestSuiteFiles.java
  vcell-cli/src/test/java/org/vcell/cli/run/BiosimulationsExecTest.java
  vcell-cli/src/test/java/org/vcell/cli/run/BiosimulationsFiles.java
  vcell-cli/src/test/java/org/vcell/cli/run/ExecuteImplTest.java
  vcell-cli/src/test/resources/BiosimulationsOmexWithResults/BIOMD0000000003_tellurium_A_minimal_cascade_model_for_th.h5
  vcell-cli/src/test/resources/BiosimulationsOmexWithResults/BIOMD0000000003_tellurium_A_minimal_cascade_model_for_th.spec.omex
  vcell-cli/src/test/resources/BiosimulationsOmexWithResults/BIOMD0000000006_tellurium_Modeling_the_cell_division_cyc.h5
  vcell-cli/src/test/resources/BiosimulationsOmexWithResults/BIOMD0000000006_tellurium_Modeling_the_cell_division_cyc.spec.omex
  vcell-cli/src/test/resources/BiosimulationsOmexWithResults/BIOMD0000000036_tellurium_A_simple_model_of_circadian_rh.h5
  vcell-cli/src/test/resources/BiosimulationsOmexWithResults/BIOMD0000000036_tellurium_A_simple_model_of_circadian_rh.spec.omex
  vcell-cli/src/test/resources/bsts-omex/vcml/Powers-Pflugers-Arch-2016-Drosophila-synaptic-strength.omex
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLNonspatialSimResults.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
Labels: BioSimulators, standards, VCell-7.5.0, validation, SBML, VCell-7.5.1

#906 reenable browser auth with cookies
  docker/swarm/README_stack_on_mac.md
  docker/swarm/localconfig_realslurm_oracle.sh
  vcell-api/src/main/java/org/vcell/rest/UserVerifier.java
  vcell-api/src/main/java/org/vcell/rest/VCellApiApplication.java
  vcell-api/src/main/java/org/vcell/rest/VCellCookieAuthenticator.java
  vcell-api/src/main/java/org/vcell/rest/auth/TokenBasedVerifier.java
Labels: bug, VCell-7.5.0, VCell-7.5.1

#914 Dan metadata
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlOmexConverter.java
  vcell-core/src/main/java/cbit/util/xml/XmlRdfUtil.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
Labels: SED-ML, BioSimulators, standards, VCell-7.5.0, VCell-7.5.1

#915 unify and validate all omex exports
  .github/workflows/NightlyBMDB_CLI.yml
  vcell-cli/src/main/java/org/vcell/cli/CLIRecorder.java
  vcell-cli/src/main/java/org/vcell/cli/CLIUtils.java
  vcell-cli/src/main/java/org/vcell/cli/biosimulation/BiosimulationsCommand.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteCommand.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecuteImpl.java
  vcell-cli/src/main/java/org/vcell/cli/run/ExecutionJob.java
  vcell-cli/src/main/java/org/vcell/cli/run/SedmlJob.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-cli/src/main/java/org/vcell/cli/sbml/ModelCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ExportOmexBatchCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ExportOmexCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ImportOmexBatchCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ImportOmexCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ValidateBatchCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlOmexConverter.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlValidator.java
  vcell-cli/src/test/java/org/vcell/cli/run/BSTSBasedOmexExecTest.java
  vcell-cli/src/test/java/org/vcell/cli/run/BiosimulationsExecTest.java
  vcell-cli/src/test/java/org/vcell/cli/run/ExecuteImplTest.java
  vcell-cli/src/test/java/org/vcell/cli/run/SpatialExecTest.java
  vcell-client/src/main/java/cbit/vcell/client/ClientRequestManager.java
  vcell-client/src/main/java/org/vcell/util/gui/exporter/OmexExtensionFilter.java
  vcell-client/src/main/java/org/vcell/util/gui/exporter/SedmlExtensionFilter.java
  vcell-core/src/main/java/cbit/util/xml/XmlRdfUtil.java
  vcell-core/src/main/java/cbit/vcell/xml/XmlHelper.java
  vcell-core/src/main/java/org/vcell/sbml/OmexPythonUtils.java
  vcell-core/src/main/java/org/vcell/sbml/UnsupportedSbmlExportException.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLImporter.java
  vcell-core/src/main/java/org/vcell/sedml/ModelFormat.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLEventLog.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLEventLogFile.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLImporter.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLTaskRecord.java
  vcell-core/src/test/java/cbit/vcell/biomodel/MathOverrideRoundTipTest.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterCommon.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterSBMLTest.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterVCMLTest.java
Labels: BioSimulators, standards, VCell-7.5.0, validation, VCell-7.5.1

#917 update to biosimulator_utils 0.1.180 and kisao 2.3.2
  vcell-cli-utils/poetry.lock
  vcell-cli-utils/pyproject.toml
Labels: dependencies, SED-ML, BioSimulators, standards, VCell-7.5.0, VCell-7.5.1

#919 replace altool with notarytool in Macos installer notarization
  .github/workflows/site_deploy.yml
  vcell-api/src/main/java/org/vcell/rest/health/HealthService.java
Labels: dependencies, VCell-7.5.0, VCell-7.5.1, CI/CD

#922 Lists of multiple models / multiple publications
  vcell-cli/src/main/java/org/vcell/cli/vcml/VcmlOmexConverter.java
Labels: BioSimulators, High Priority, VCell-7.5.0, VCell-7.5.1

#924 Update to the latest kisao ontology.
  vcell-core/src/main/resources/kisao_algs.obo
  vcell-core/src/main/resources/kisao_algs_20230623_old.obo
Labels: enhancement, High Priority, standards, VCell-7.5.1

#920 publication and omex api endpoints and scripts
  docker/build/Dockerfile-api-dev
  docker/swarm/docker-compose.yml
  docker/swarm/localconfig_mockslurm-not-used.sh
  docker/swarm/localconfig_realslurm_oracle.sh
  docker/swarm/localconfig_realslurm_postgres.sh
  docker/swarm/serverconfig-uch.sh
  vcell-api/src/main/java/org/vcell/rest/UserService.java
  vcell-api/src/main/java/org/vcell/rest/VCellApiApplication.java
  vcell-api/src/main/java/org/vcell/rest/VCellCookieAuthenticator.java
  vcell-api/src/main/java/org/vcell/rest/auth/CookieVerifier.java
  vcell-api/src/main/java/org/vcell/rest/common/BiomodelOMEXResource.java
  vcell-api/src/main/java/org/vcell/rest/common/BiomodelSBMLResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelOMEXServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelSBMLServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelSimulationServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelsServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/PublicationServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/PublicationsServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/RestDatabaseService.java
  vcell-api/src/main/java/org/vcell/rest/server/SimDataServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/SimDataValuesServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/SimulationStatusServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/SimulationTasksServerResource.java
  vcell-api/src/main/resources/biomodel.ftl
  vcell-cli-utils/poetry.lock
  vcell-cli-utils/pyproject.toml
  vcell-cli-utils/tests/vcell_datamodels_test.py
  vcell-cli-utils/vcell_pipeline/__init__.py
  vcell-cli-utils/vcell_pipeline/download_biosim_projects.py
  vcell-cli-utils/vcell_pipeline/download_vcell_omex.py
  vcell-cli-utils/vcell_pipeline/vcell_datamodels.py
  vcell-core/src/main/java/cbit/vcell/resource/PropertyLoader.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
Labels: bug, VCell-7.5.0, VCell-7.5.1

#926 fix download_vcell_omex.py to properly download large omex files
  vcell-cli-utils/vcell_pipeline/download_vcell_omex.py
Labels: bug, standards, VCell-7.5.0, VCell-7.5.1

#927 improve error message for omex export from vcell-api
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelOMEXServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelSBMLServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/RestDatabaseService.java
  vcell-cli-utils/vcell_pipeline/download_vcell_omex.py
Labels: enhancement, SED-ML, standards, VCell-7.5.0, VCell-7.5.1

#929 add abstracts in omex
  vcell-api/src/main/java/org/vcell/rest/server/BiomodelOMEXServerResource.java
  vcell-api/src/main/java/org/vcell/rest/server/RestDatabaseService.java
  vcell-client/src/main/java/org/vcell/util/gui/exporter/OmexExtensionFilter.java
  vcell-core/src/main/java/cbit/util/xml/XmlRdfUtil.java
  vcell-core/src/main/java/org/vcell/sedml/PubMet.java
  vcell-core/src/main/java/org/vcell/sedml/PublicationMetadata.java
  vcell-core/src/main/java/org/vcell/sedml/SEDMLExporter.java
  vcell-core/src/test/java/cbit/vcell/biomodel/MathOverrideRoundTipTest.java
  vcell-core/src/test/java/org/vcell/sbml/SEDMLExporterCommon.java
  vcell-core/src/test/java/org/vcell/sedml/PublicationMetadataTest.java
Labels: enhancement, BioSimulators, standards, VCell-7.5.0, VCell-7.5.1
