Repository virtualcell/vcell, pull requests merged in 2023-04, with the labels that each got.

#851 Error message on trying to run sim (and database constraint bug)
  vcell-core/src/main/java/cbit/vcell/solver/Simulation.java
Labels: VCell-7.5.0, VCell-7.5.1

#853 categorized all tests and added new BSTS_IT category for CI matrix
  .github/workflows/ci_cd.yml
  vcell-admin/src/test/java/cbit/vcell/client/ClientTaskDispatcherTest.java
  vcell-admin/src/test/java/cbit/vcell/message/server/dispatcher/SimulationDatabaseDirectTest.java
  vcell-admin/src/test/java/cbit/vcell/util/AmplistorUtilsTest.java
  vcell-cli/src/main/java/org/vcell/cli/run/SedmlJob.java
  vcell-cli/src/main/java/org/vcell/cli/run/SolverHandler.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/Hdf5DataExtractor.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/NonspatialResultsConverter.java
  vcell-cli/src/main/java/org/vcell/cli/run/hdf5/SpatialResultsConverter.java
  vcell-cli/src/test/java/org/vcell/cli/run/BSTSBasedOmexExecTest.java
  vcell-client/src/test/java/org/vcell/util/gui/GraphicExecutableFinderTest.java
  vcell-core/src/main/java/cbit/vcell/solver/Simulation.java
  vcell-core/src/main/java/cbit/vcell/solver/TempSimulation.java
  vcell-core/src/test/java/cbit/vcell/math/VariableTypeTest.java
  vcell-core/src/test/java/cbit/vcell/message/server/bootstrap/client/RemoteProxyVCellConnectionFactoryTest.java
  vcell-core/src/test/java/cbit/vcell/message/server/cmd/CommandServiceSshNativeTest.java
  vcell-core/src/test/java/cbit/vcell/message/server/cmd/CommandServiceSsh_sshjTest.java
  vcell-core/src/test/java/cbit/vcell/resource/LicenseTest.java
  vcell-core/src/test/java/cbit/vcell/solvers/mb/MovingBoundaryResultTest.java
  vcell-core/src/test/java/cbit/vcell/solvers/mb/VH5PathTest.java
  vcell-core/src/test/java/cbit/vcell/util/CountingLineReaderTest.java
  vcell-core/src/test/java/cbit/vcell/util/EventRateLimiterTest.java
  vcell-core/src/test/java/org/vcell/sbml/SBMLSpatialTest.java
  vcell-core/src/test/java/org/vcell/util/exe/Executable2Test.java
  vcell-math/src/test/java/cbit/vcell/parser/IntervalNarrowingTest.java
  vcell-server/src/test/java/cbit/vcell/message/jms/test/BlobMessageTest.java
  vcell-server/src/test/java/cbit/vcell/message/server/htc/slurm/SlurmProxyTest.java
  vcell-server/src/test/java/cbit/vcell/mongodb/VCMongoDbDriverTest.java
  vcell-util/src/main/java/org/vcell/test/BSTS_IT.java
Labels: VCell-7.5.0, VCell-7.5.1

#855 switch secondary simdatadir from vcell10 to vcell7
  docker/swarm/serverconfig-uch.sh
Labels: VCell-7.5.0, VCell-7.5.1

#857 fixed NPE while resaving a biomodel where original cannot be loaded.
  vcell-server/src/main/java/cbit/vcell/modeldb/ServerDocumentManager.java
Labels: bug, VCell-7.5.0, VCell-7.5.1

#862 set vcell-sched init/max container size from 500/1000MB to 1000/2000MB
  docker/swarm/docker-compose.yml
Labels: VCell-7.5.0, VCell-7.5.1

#861 exports sbml InitialAssignments when AssignmentRules are needed
  vcell-core/src/main/java/cbit/vcell/mapping/SpeciesContextSpec.java
  vcell-core/src/main/java/org/vcell/sbml/vcell/SBMLExporter.java
Labels: bug, VCell-7.5.0, SBML, VCell-7.5.1

#865 simdata directory fixes for vcell-su cli util.
  docker/build/Dockerfile-admin-dev
  docker/build/admin/entrypoint.sh
  docker/build/admin/vcell-su.sh
Labels: bug

#867 We don't export empty lists to SedML to humor the validator.
  vcell-core/src/main/java/org/jlibsedml/SEDMLWriter.java
Labels: bug, SED-ML, High Priority, validation, VCell-7.5.1
