Repository virtualcell/vcell, pull requests merged in 2023-10, with the labels that each got.

#982 Implementation of the Springsalad application persistence
  vcell-client/src/main/java/cbit/vcell/math/gui/MathDescEditor.java
  vcell-core/src/main/java/cbit/vcell/mapping/SimulationContext.java
  vcell-core/src/main/java/cbit/vcell/math/CompartmentSubDomain.java
  vcell-core/src/main/java/cbit/vcell/math/LangevinParticleJumpProcess.java
  vcell-core/src/main/java/cbit/vcell/math/LangevinParticleMolecularComponent.java
  vcell-core/src/main/java/cbit/vcell/math/LangevinParticleMolecularType.java
  vcell-core/src/main/java/cbit/vcell/math/MathDescription.java
  vcell-core/src/main/java/cbit/vcell/math/MembraneSubDomain.java
  vcell-core/src/main/java/cbit/vcell/math/ParticleMolecularType.java
  vcell-core/src/main/java/cbit/vcell/math/VCML.java
  vcell-core/src/main/java/cbit/vcell/xml/XMLTags.java
  vcell-core/src/main/java/cbit/vcell/xml/XmlReader.java
  vcell-core/src/main/java/cbit/vcell/xml/Xmlproducer.java
  vcell-server/src/main/java/cbit/vcell/modeldb/SimContextTable.java
Labels: High Priority, VCell-7.6.0, SpringSaLaD

#992 Consistency before UI and SS memory model.
  vcell-client/src/main/java/cbit/vcell/mapping/gui/ModelProcessSpecsTableModel.java
  vcell-client/src/main/java/cbit/vcell/mapping/gui/MolecularTypeSpecsTableModel.java
  vcell-client/src/main/java/cbit/vcell/solver/ode/gui/LangevinOptionsPanel.java
  vcell-client/src/main/java/org/vcell/model/springsalad/gui/MolecularStructuresPanel.java
  vcell-core/src/main/java/cbit/vcell/mapping/LangevinMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/MolecularInternalLinkSpec.java
  vcell-core/src/main/java/cbit/vcell/math/LangevinParticleJumpProcess.java
  vcell-core/src/main/java/cbit/vcell/math/VCML.java
  vcell-core/src/main/java/cbit/vcell/solver/LangevinSimulationOptions.java
  vcell-core/src/main/java/cbit/vcell/solver/SolverTaskDescription.java
Labels: SpringSaLaD, Next Release

#995 848 java upgrade fixes
  docker/swarm/README_stack_on_mac.md
  docker/swarm/deploy-action.sh
  docker/swarm/docker-compose.yml
  vcell-admin/src/test/java/cbit/vcell/client/StandaloneRuleBasedTest.java
  vcell-core/src/main/java/cbit/vcell/resource/PropertyLoader.java
  vcell-core/src/test/java/cbit/vcell/biomodel/SpringSaLaDGoodReactionsTest.java
  vcell-core/src/test/java/simdata/n5/N5ExporterTest.java
Labels: High Priority, VCell-7.6.0, java

#997 set explicit client jar list to avoid conflict with previous installs
  docker/build/installers/VCell.install4j
  docker/build/installers/build_installers.sh
Labels: Bug, VCell-7.6.0, java, VCell-7.5.1

#999 use ghcr.io/virtualcell/vcell-solvers:v0.0.43 base image for solvers
  docker/build/Dockerfile-batch-dev
Labels: Bug, VCell-7.6.0, java, VCell-7.5.1

#1001 Removing the Tools / Start ImageJ menu.
  vcell-client/src/main/java/cbit/vcell/client/desktop/DocumentWindow.java
Labels: Next Release

#1002 Admin CLI for model listing and ACLs
  .github/workflows/nightly-model-testing.yml
  vcell-admin/src/main/java/org/vcell/admin/cli/AdminCLI.java
  vcell-admin/src/main/java/org/vcell/admin/cli/CLIDatabaseService.java
  vcell-admin/src/main/java/org/vcell/admin/cli/models/ModelCommands.java
  vcell-admin/src/main/java/org/vcell/admin/cli/models/ModelListCommand.java
  vcell-admin/src/main/java/org/vcell/admin/cli/models/ModelPermissionCommand.java
  vcell-cli/src/main/java/org/vcell/cli/vcml/ExportOmexBatchCommand.java
  vcell-core/src/main/java/org/vcell/util/document/BioModelInfo.java
  vcell-core/src/main/java/org/vcell/util/document/MathModelInfo.java
  vcell-server/src/main/java/cbit/vcell/modeldb/DatabaseServerImpl.java
Labels: enhancement, VCell-7.6.0, VCell-7.5.1

#1003 parse all special user permissions instead of first
  vcell-server/src/main/java/cbit/vcell/modeldb/UserDbDriver.java
Labels: Bug, VCell-7.6.0, Security, VCell-7.5.1

#1004 Misc docker fixes
  Dockerfile
  docker/build/admin/entrypoint.sh
  docker/swarm/docker-compose.yml
  pythonCopasiOpt/vcell-opt/poetry.lock
Labels: Bug, VCell-7.6.0, VCell-7.5.1, CI/CD
