Repository virtualcell/vcell, pull requests merged in 2024-01, with the labels that each got.

#1094 The is2D flag is always set to false
  vcell-client/src/main/java/cbit/vcell/mapping/gui/MolecularTypeSpecsTableModel.java
  vcell-core/src/main/java/org/vcell/solver/langevin/LangevinLngvWriter.java
  vcell-core/src/test/java/cbit/vcell/biomodel/SpringSaLaDGoodReactionsTest.java
Labels: High Priority, SpringSaLaD

#1089 983 expanding n5 variable support
  .gitignore
  vcell-core/src/main/java/cbit/vcell/export/server/N5Exporter.java
  vcell-core/src/test/java/cbit/vcell/export/N5ExporterTest.java
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1107466895_0_.functions
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1107466895_0_.fvinput
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1107466895_0_.hdf5
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1107466895_0_.log
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1107466895_0_.mesh
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1107466895_0_.meshmetrics
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1107466895_0_.vcg
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1107466895_0_00.zip
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1107466895_0__0.simtask.xml
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0_.functions
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0_.fvinput
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0_.hdf5
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0_.log
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0_.mesh
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0_.meshmetrics
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0_.subdomains
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0_.vcg
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0_00.zip
  vcell-core/src/test/resources/simdata/n5/ezequiel23/SimID_1136922340_0__0.simtask.xml
Labels: Type: enhancement

#1108 Added is2D flag, domain name bug fixed in the math
  vcell-client/src/main/java/cbit/vcell/mapping/gui/MolecularTypeSpecsTableModel.java
  vcell-client/src/main/java/cbit/vcell/mapping/gui/SpeciesContextSpecsTableModel.java
  vcell-client/src/main/java/cbit/vcell/math/gui/MathDescEditor.java
  vcell-client/src/main/java/org/vcell/model/springsalad/gui/MolecularStructuresPanel.java
  vcell-core/src/main/java/cbit/vcell/mapping/AbstractStochMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/LangevinMathMapping.java
  vcell-core/src/main/java/cbit/vcell/mapping/SpeciesContextSpec.java
  vcell-core/src/main/java/cbit/vcell/math/LangevinParticleMolecularType.java
  vcell-core/src/main/java/cbit/vcell/math/VCML.java
  vcell-core/src/main/java/cbit/vcell/xml/XMLTags.java
  vcell-core/src/main/java/org/vcell/solver/langevin/LangevinLngvWriter.java
Labels: Type: Bug, Type: enhancement, SpringSaLaD

#1117 Editing or adding a new molecule / species is now properly addressed in existing SS application
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/SpeciesPropertiesPanel.java
  vcell-core/src/main/java/cbit/vcell/mapping/ReactionContext.java
  vcell-core/src/main/java/cbit/vcell/model/Model.java
  vcell-core/src/main/java/cbit/vcell/model/SpeciesContext.java
Labels: High Priority, SpringSaLaD
