Repository virtualcell/vcell, pull requests merged in 2024-07, with the labels that each got.

#1295 AnnotationsPanel: Fix multiple null pointer exceptions
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/AnnotationsPanel.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/annotations/AddAnnotationsPanel.java
Labels: Type: Bug, High Priority, VCell-7.6.0

#1298 Final GUI changes
  vcell-client/src/main/java/cbit/vcell/client/ClientRequestManager.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/DocumentWindow.java
  vcell-client/src/main/java/cbit/vcell/client/desktop/biomodel/BioModelEditorAnnotationPanel.java
  vcell-client/src/main/java/cbit/vcell/desktop/ClientLogin.java
Labels: Type: enhancement, High Priority, java, Must for Release

#1305 Saving to ExportMetaData json file is more error tolerant now.
  vcell-client/src/main/java/cbit/vcell/client/ClientRequestManager.java
Labels: High Priority, VCell-7.6.0, Must for Release

#1323 Dan ss help
  vcell-client/UserDocumentation/originalXML/topics/ch_10/RuleBasedChapter/LangevinApp.xml
  vcell-client/UserDocumentation/originalXML/topics/ch_10/RuleBasedChapter/SpringSaLaDTheory.xml
  vcell-client/UserDocumentation/originalXML/topics/ch_3/BioModelApplications/Specifications/SSReactionsSpecifications.xml
  vcell-client/UserDocumentation/originalXML/topics/ch_3/BioModelApplications/Specifications/SSSpeciesSpecifications.xml
  vcell-client/UserDocumentation/originalXML/topics/image/SS_general.png
  vcell-client/UserDocumentation/originalXML/topics/image/SS_new.png
  vcell-client/UserDocumentation/originalXML/topics/image/SS_reactions.png
  vcell-client/UserDocumentation/originalXML/topics/image/SS_species.png
Labels: SpringSaLaD
